
.footer {
	height: 80px;
	background-color: #2c2c2f;
	position: relative;
	width: 100%;
}

.footer .copyright {
	height: 50px;
	width: 100%;
}
.footer .copyright p {
	font-size: 18px;
	line-height: 18px;
	color: #FFF;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 35px;
}


// .footer .copyright p b {
// 	color: #309cd1;
// 	font-weight: normal;
// }
