@charset "utf-8";
/*----------------------------
  
  layout： global
  author： Toby
  tags  ： button
  create: 2016/9/6

==============================

  |-- 小於 1652px：右側上下滑特效
  |-- section-grp：
  |-- section_about：
  |-- section_joinus：


-----------------------------*/

//確定有 about
@media (max-width: 1920px) {

    //-------  about  -------//
    #body-about{
        .textbox_left{

            margin-left: 20%;
        }

        .textbox_right{

            margin-right: 15%;
        }
        

    }


}

//確定有 about
@media (max-width: 1620px) {

    //-------  about  -------//
    #body-about{
        .textbox_left{

            margin-left: 15%;
        }

        .textbox_right{

            margin-right: 10%;
        }
    }
}

 
@media (min-width: 1550px) {


	.ct{

		    background-size: cover !important;
	}

}

//確定有
@media (max-width: 1652px) {

    //-------  about  -------//
    #body-about{
    	

        .textbox_left{


            margin-left: 10%;


        }







        // .product_block_grp{

    	// 	width: 570px !important;

    	// 	.product_block{

    	// 		&:nth-child(n) {   

    	// 			width: 150px;
     //                height: 620px;
     //                margin-top: 210px;

    	// 		}

    	// 	}

    	// }

    }

}

//確定有
@media (max-width: 1440px) {


    //-------  about  -------//
    #body-about{


        .product_block_grp{

            margin-top: 30px;
            transform: scale(0.7);

        }



        .textbox_left{

            margin-left: 5%;
        }

        .textbox_right{

            margin-right: 5%;
        }
    }


	//-------  product  -------//
	#body-product{

		.section-grp {
		
			background-image: none;

		}


		.textbox-container{

			width: 100%;

		}

		.textbox-bg{

			@include center;
		    position: relative;
		    background-size: cover;
		    background-repeat: no-repeat;
		    width: 640px;
		    height: 1120px;
		    padding-top: 370px;
		    text-align: center;
		    padding-left: 0px;

		    p{

		    	@include center;

		    }

		}




		.textbox-bg-01{

			background-image: url(../img/product/product-bg-mobile-01.png);
		}

		.textbox-bg-02{

			background-image: url(../img/product/product-bg-mobile-02.png);
		}

		.textbox-bg-03{

			background-image: url(../img/product/product-bg-mobile-03.png);
		}



	




	}








}



//確定有
@media (max-width: 1200px) {

	//-------  about  -------//
	#body-about{

		.section-grp{

			background-image: none;

		}

		.textbox_grp{

			@include center;
		    margin-top: 0px;

		    h2{

		    	text-align: center;
		    }

		    p{

		    	width: 400px;
		    }
			
		}


		.product_block_grp{

			display: none;
		}


		.section_bg_mobile{

			display: block;
            background-position: center;
            background-repeat: no-repeat;

		}

	}


}



//確定有
@media (max-width: 1040px) {


    //-------  index  -------//
    #body-index{

        .contact-container{


       
            h2{

                font-size: 36px;
            }

            .contact-block{

                width: 280px !important;
                margin-top: 120px !important;

                .contact{

                    width: 280px !important;
                    height: 70px !important;
                    float: none  !important;

                    .contact-img{

                        width: 40px !important;
                        height: 40px !important;
                        float: left;
                    }

                    p{
                        line-height: 40px;
                        font-size:16px;
                        cursor: default;
                        
                    }

                    .img-03{

                        margin-top: 15px;

                    }
                    .info-01{

                        font-size:16px !important;
                    }
                }

            }
            

        }


    }



	//-------  about  -------//
	#body-about{

		.about_infobox{

			width: 470px;

		}

	}

    //-------  joinus  -------//
    #body-joinus{

        .infobox-01{

            width: 510px;
        }

        .infobox-02{

            width: 510px;
            margin-bottom: 80px;
        }
       

        .shadow-effect-container{

            width: 510px;
            height: 1360px;
        }


        





    }


}



//確定有//平板
@media (max-width: 768px) {


    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }

    .navi-ul{

        display: none;
    }
        
    .hamburger-box{

      display: block;

    }

    //-------  index  -------//
    #body-index{

        .font{

            margin-top: -10px;



            .btn_link{

                a{

                    margin-top: -20px;
                }

            }
        }






        .slogan-container{

            width: 320px;

            h2{

                font-size:35px;
            }

            p{

                font-size:18px;
            }
        }




        .content_about{
            
            height: 1120px;
            margin-bottom: 300px;
            background-attachment: scroll;


            .about_info{

                top:640px;

            }

            .bg_bottom{

                height: 360px;
            }




        }

        .content_service{

            background-position-y: 0px;
            background-attachment: scroll;

            .service{

                margin-top: -140px;
            }

            .bg_bottom{

                height: 360px;
            }

            .service_info{

                top: 790px;
            }

        }

        .content_join{

            background-attachment: scroll;

            .about_info{

                top:650px;

            }



        }


        .content-under{

            margin-top: 300px;


            .icon{

                margin-left: 0px;
                height: 40px;
                width: 40px;
                float: left;
            }

            .info{

                display: inline-block;
                font-size: 18px;
                margin-top: -9px;
                margin-bottom: 60px;
                float: left;
                margin-left: 17px;
                line-height: 0px;
            }







        }






    }

    //-------  about  -------//
    #body-about{

        .about_infobox{

            width: 470px;

        }

        .bg-product{

            height: 1150px;

        }

    }

    //-------  joinus  -------//
    #body-joinus{

        .infobox-01{

            width: 510px;
        }

        .infobox-02{

            width: 510px;
            margin-bottom: 80px;
        }
       

        .shadow-effect-container{

            width: 510px;
            height: 1360px;
        }


        





    }


}



//確定有
@media (max-width: 716px) {

    //-------  product  -------//
    #body-product{
       
        .section-grp{

            @include center;
            width: 320px;

        
            .textbox-bg{

                width: 320px;

                p{

                    width: 250px;
                }
            }


        }



    }


}




//確定有
@media (max-width: 650px) {

    //-------  about  -------//
    #body-about{

        .bg_about_mobile{

            width: 400px;
       }
       .bg_product_mobile{

            width: 400px;
       }
    }


}






@media (max-width: 540px) {

    //-------  index  -------//
    #body-index{

        .title-box{

            width: 280px ;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;


        }


    }
	


	.slogin_second{

		height: 470px;
	}



}





//確定有//進入手機版：直下320
@media (max-width: 530px) {


    


    .footer{

        height: 60px;
        p{

            font-size: 14px !important;
            padding-top: 16px !important;
        }
    }


    //-------  index  -------//
    #body-index{
        
        .font{

            .info{

                @include center;
                width: 250px;
                font-size: 18px;
                text-align: justify;

            }
       
        }


        .content_about{

            background-position-x: -330px;
        }

        .content_service{

            background-position-x: -565px;
        }

        .content_join{

            background-position-x: -805px;
        }


        .greeting-container{

            background-image: url('../img/index/index-bg-m-04.png');
        }


        .contact-container{


       
            h2{

                font-size: 30px;
                line-height: 140px;
            }

        }




       

    }



    //-------  about  -------//
    #body-about{
        .about_infobox {

            @include center;
            background-image: url(../img/about/wit.png);
            position: relative; 
            width: 80%;
            margin-top: 250px;
            border: 5px solid #FFF;
            display: block;

            h3  {

                @include center;
                width: 90%;
                margin-top: 40px;
                font-size: 19px;
                line-height: 32px;
                letter-spacing: 0px;
                display: block;
                font-weight: bold;
                text-align: center;

            }
            p  {

                @include center;
                width: 90%;
                margin-top: 40px;
                padding-bottom: 40px;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0px;
                display: block;
                text-align: center;
                
            }


        }
    }










    //-------  product  -------//
    #body-product{

        .pd_infobox{

                width: 220px !important;

                h3{

                    font-size: 25px !important;
                    height:70px !important;
                    line-height:70px !important;

                }
        }


        .section-grp{

            width: 100%;
            
            .textbox-bg{

                width: 100%;
            }
        }










    }



    //-------  joinus  -------//
    #body-joinus{


        .header{

            background-image: url('../img/joinus/joinus-header-m.png');

            .pd_infobox{

                width: 300px !important;

                h3{

                    font-size: 25px !important;

                }
            }


        }


       
        



        .infobox-01{

            width: 280px;

        }

        .infobox-02{

            width: 280px;

        }

        .shadow-effect-container{

            width: 320px;
            height: 900px;
            margin-top: 150px;

        }

        .effect-ming{


            background-repeat: no-repeat;
            background-size: cover;
            width: 320px;
            min-width: 320px;
            height: 214px;

        }


        figcaption{

            width: 320px;
            height: 214px;

            p{

                margin-top: -30px;
            }

        }

        .slogan-container{

            h3{

                font-size: 17px;

            }
            
        }





    }   

}




//確定有
@media (max-width: 480px) {


	.ct{

		    background-size: cover !important;
	}



    //-------  index  -------//
    #body-index{

       #header{

            .title-box{

                margin-top: 160px;
            }
       }

    }


	//-------  about  -------//
	#body-about{

		.textbox_grp{

			width: 320px;

			

			p{
                @include center;
				width: 280px;
                line-height: 34px;
			}

		}

		// .section_bg_mobile{

		// 		margin-left: -170px;
		// 	}

	}


    //-------  product  -------//
    #body-product{

        .textbox_bg{

            h2{

                width: 80%;

            }

        }

        // .section_bg_mobile{

        //      margin-left: -170px;
        //  }

    }





}



//確定要 iphone 5
@media (max-width: 350px) {


    .footer{

        p{

            font-size: 10px !important;
        }
    }

    //-------  index  -------//
    #body-index{

        .font{

            margin-top: -180px;


            .btn_link{

                a{

                    margin-top: -20px;
                }

            }
        }
    }

}




