.product_block_container{
	
	position: absolute;
	width:100%;
	z-index: -10;

	.product_block_grp{

		position: relative;
		width:800px;
	    height: 970px;
	    margin-right: 3%;
	    // border: 2px solid #333;
	    z-index: 33;
	    float: right;
	    overflow: hidden;
		

		.product_block{

			&:nth-child(n) {   

				width:240px;
				height: 970px;

				margin-left: 10px;
				margin-right: 10px;  

				float: left; 
				background-size: cover;
				transition: all .8s ease-in-out;

			}

			&:nth-child(1) {   
				
				background-image: url('../img/about/about-bg-02a.png');

			}

			&:nth-child(2) {   
				
				background-image: url('../img/about/about-bg-02b.png');


			}

			&:nth-child(3) {   
				
				background-image: url('../img/about/about-bg-02c.png');

				

			}


		}

	}


	





}



