.shadow-effect-container {
    
    @include center;
    position: relative;
    width: 1024px;
    height: 680px;
    clear: both;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    
    


    figure {
        position: relative;
        overflow: hidden;
        min-width: 510px;
        width: 510px;
        text-align: center;
        height: 340px;
        float: left;

        img {
            position: relative;
            opacity: 0.8;
            width: 100%;
        }

        figcaption {
            color: #fff;
            text-transform: uppercase;
            font-size: 30px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            &:before{

                pointer-events: none;
            }

            &:after{

                pointer-events: none;
            
            }

            .shadow-blur{

                position: absolute;
                width: 510px;
                height: 340px;
                background-color: rgba(0,0,0,0.4);
                transition: all .4s ease-in-out;
                opacity: 0;
                pointer-events: none;

            }


        }








    }

  
}





.shadow-effect-container figure figcaption,
.shadow-effect-container figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 510px;
  height: 340px;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.shadow-effect-container figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.shadow-effect-container figure h2 {
  font-weight: 300;
  height: 16px;
}

.shadow-effect-container figure h2 span {
  font-weight: 300;
}

.shadow-effect-container figure h2,
.shadow-effect-container figure p {
}

.shadow-effect-container figure p {
  letter-spacing: 3px;
  font-size: 30px;
}



/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
  background: #030c17;
}

figure.effect-ming img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
  position: absolute;
  border: 2px solid #fff;
  box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.4,1.4,1);
  transform: scale3d(1.4,1.4,1);
  left: 30px;
  top: 30px;
  right: 30px;
  bottom: 30px;
}

figure.effect-ming h2 {
  margin: 20% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  pointer-events:none;
}

figure.effect-ming p {
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  pointer-events:none;
}

figure.effect-ming:hover h2 {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
  background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
  opacity: 0.4;
}

/* Media queries */
// @media screen and (max-width: 50em) {
//   .content {
//     padding: 0 10px;
//     text-align: center;
//   }
//   .shadow-effect-container figure {
//     display: inline-block;
//     float: none;
//     margin: 10px auto;
//     width: 100%;
//   }
// }
