.underline-effect {
    letter-spacing: 0;
}

.underline-effect:hover,
.underline-effect:active {
  // letter-spacing: 5px;
}

.underline-effect:after,
.underline-effect:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;


  margin-top: -110px;
  transform: translateX(-10px);

}




.underline-effect:hover:after,
.underline-effect:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 80%;


  width: 200px;

}

.underline-effect:hover:before {
  bottom: auto;
  top: 0;
  width: 80%;

  width: 200px;
}


.underline-effect:before{
  display: none;
}



