.slogan
	@extend .center_box
	.img
		top: 40%
		transform: translateY(-50%)
		height: 255px
		@include breakpoint(sm)
			top: 55%
		@include breakpoint(sm_xs)
			top: 65%
		@include breakpoint(xs)
			top: 70%
		@include breakpoint(xs_xxs)
			top: 55%
		@include breakpoint(xxs)
			top: 70%
.slogin_second
	position: relative
	z-index: 0
	.slogin_second_tit_bg
		margin-top: 100px
	.slogin_second_tit
		font-size: 70px
		font-weight: bold
		line-height: 80px
		@include breakpoint(sm_md)
			font-size: 60px
		@include breakpoint(xs)
			font-size: 50px
			line-height: 55px
	.right
		text-align: right
		@include breakpoint(sm_md)
			text-align: center
	.left
		text-align: left
		@include breakpoint(sm_md)
			text-align: center
	.slogin_second_con_bg
		margin-top: 50px
		animation-delay: .3s
	.slogin_second_con
		font-size: 25px
		text-align: center
		line-height: 40px
		@include breakpoint(xs)
			font-size: 20px


.content_about
	.about
		@include breakpoint(sm_md)
			background: url("../img/index/index_about_m.png") no-repeat center bottom
		background-size: cover
		.about_in
			padding: 0px
			.about_info
				padding: 0
				position: relative
				top: 250px
				// height: 1000px
				@include breakpoint(sm_md)
					top: 500px
				.bg_top
					position: relative
					top: 0
					height: 600px
					background: linear-gradient(169deg, transparent 160px, #203993 0)
					@include breakpoint(sm_md)
						height: 450px 
				.bg_bottom
					position: relative
					bottom: 0
					height: 500px
					background: linear-gradient(-11deg, transparent 240px, #203993 0)
					@include breakpoint(sm_md)
						height: 350px 
				.font
					text-align: left
					width: 80%
					height: 50%
					position: absolute
					top: 55%
					transform: translateY(-50%)
					color: #fff
					left: 10%
					@include breakpoint(sm_md)
						top: 50%
						text-align: center
					@include breakpoint(xs)
						top: 48%
					.title
						font-size: 50px
						
						margin-bottom: 40px
						@include breakpoint(sm_md)
							font-size: 40px
					.info
						font-size: 20px
						line-height: 35px
						margin-bottom: 100px
						@include breakpoint(sm_md)
							line-height: 35px
							margin-bottom: 50px
						@include breakpoint(xs)
							font-size: 18px
						animation-delay: .5s
					.btn_link
						animation-delay: .8s
					.btn_link a
						transition: all .2s ease-in-out
						cursor: pointer
						@extend .btn_link_style
						@include breakpoint(sm_md)
							margin: 0 auto
						@include breakpoint(xs)
							font-size: 20px
							width: 150px
						&:hover
							@extend .btn_link_style_hover


.content_service
	.service
		@include breakpoint(sm_md)
			background: url("../img/index/index_service_m.png") no-repeat center bottom
		background-size: cover
		.service_in
			padding: 0px
			.service_info
				padding: 0
				position: relative
				top: 150px
				// height: 1000px
				@include breakpoint(sm_md)
					top: 500px
				.bg_top
					position: relative
					top: 0
					height: 600px
					background: linear-gradient(169deg, transparent 160px, #203993 0)
					@include breakpoint(sm_md)
						height: 450px 
						background: linear-gradient(192deg, transparent 160px, #203993 0)
				.bg_bottom
					position: relative
					bottom: 0
					height: 500px
					background: linear-gradient(-11deg, transparent 240px, #203993 0)
					@include breakpoint(sm_md)
						height: 350px 
						background: linear-gradient(11deg, transparent 240px, #203993 0)
				.font
					text-align: left
					width: 80%
					height: 50%
					position: absolute
					top: 55%
					transform: translateY(-50%)
					color: #fff
					left: 10%
					@include breakpoint(sm_md)
						top: 50%
						text-align: center
					@include breakpoint(xs)
						top: 48%
					.title
						font-size: 50px
						font-weight: bold
						margin-bottom: 40px
						@include breakpoint(sm_md)
							font-size: 40px
					.info
						font-size: 20px
						line-height: 35px
						margin-bottom: 100px
						@include breakpoint(sm_md)
							line-height: 35px
							margin-bottom: 50px
						@include breakpoint(xs)
							font-size: 18px
						animation-delay: .5s
					.btn_link
						animation-delay: .8s
					.btn_link a
						transition: all .2s ease-in-out
						cursor: pointer
						@extend .btn_link_style
						@include breakpoint(sm_md)
							margin: 0 auto
						@include breakpoint(xs)
							font-size: 20px
							width: 150px
						&:hover
							@extend .btn_link_style_hover

					

.content_join
	position: relative
	height: 1200px
	background: url("../img/index/index-bg-03.png") no-repeat center top fixed
	background-size: cover
	.join
		position: relative
		height: 1200px
		background: url("../img/index/index-bg-hole-03.png") no-repeat center top
		@include breakpoint(sm_md)
			background: url("../img/index/index_about_m.png") no-repeat center bottom
		background-size: cover
		.join_in
			padding: 0px
			.about_info
				padding: 0
				position: relative
				top: 250px
				// height: 1000px
				@include breakpoint(sm_md)
					top: 500px
				.bg_top
					position: relative
					top: 0
					height: 600px
					background: linear-gradient(169deg, transparent 160px, #203993 0)
					@include breakpoint(sm_md)
						height: 450px 
				.bg_bottom
					position: relative
					bottom: 0
					height: 500px
					background: linear-gradient(-11deg, transparent 240px, #203993 0)
					@include breakpoint(sm_md)
						height: 350px 
				.font
					text-align: left
					width: 80%
					height: 50%
					position: absolute
					top: 55%
					transform: translateY(-50%)
					color: #fff
					left: 10%
					@include breakpoint(sm_md)
						top: 50%
						text-align: center
					@include breakpoint(xs)
						top: 48%
					.title
						font-size: 50px
						font-weight: bold
						margin-bottom: 40px
						@include breakpoint(sm_md)
							font-size: 40px
					.info
						font-size: 20px
						line-height: 35px
						margin-bottom: 100px
						@include breakpoint(sm_md)
							line-height: 35px
							margin-bottom: 50px
						@include breakpoint(xs)
							font-size: 18px
						animation-delay: .5s
					.btn_link
						animation-delay: .8s

					.btn_link a
						transition: all .2s ease-in-out
						cursor: pointer
						@extend .btn_link_style
						@include breakpoint(sm_md)
							margin: 0 auto
						@include breakpoint(xs)
							font-size: 20px
							width: 150px
						&:hover
							@extend .btn_link_style_hover

.ct 
	margin-top: 200px
	position: relative
	background: url("../img/index/index-bg-04.png") no-repeat fixed  center bottom
	background-size: contain !important
	@include breakpoint(sm_md)
		background: url("../img/index/ct_bg_m.jpg") no-repeat center top
	@include breakpoint(sm_md)
		margin-top: 0px
	@include breakpoint(xs)
		margin-top: -400px
	.ct_top
		font-size: 50px
		color: #fff
		text-align: center
		font-weight: bold
		height: 300px
		line-height: 300px
		@include breakpoint(sm_md)
			font-size: 40px
	.ct_con
		background: #2c2c2f
		padding: 50px 0
		@include breakpoint(xs)
			padding: 30px 0
		.title 
			font-size: 50px
			color: #309cd1
			text-align: center
			line-height: 200px
			margin-bottom: 30px
			@include breakpoint(sm_md)
				font-size: 40px
			@include breakpoint(xxs)
				font-size: 32px
		.icon
			width: 20%
			@extend .center_box
			margin-bottom: 50px
			@include breakpoint(xs)
				width: 30%
				
		.info
			font-size: 22px
			color: #fff 
			text-align: center
			line-height: 30px
			margin-bottom: 150px
			padding-top: 30px
			@include breakpoint(xxs)
				font-size: 18px





































