/*-----  上方導航列  ------*/
.inner-top-navi
	height: 60px
	width: 100%
	position: fixed
	z-index: 999
	background-color: #309cd1

	.logo 
		background-image:url('../img/logo.png')
		float: left 

	ul 
		
		height: 50px
		width: 360px
		float: right
		
		li 
			@include margin_w(10px)
			display: block
			width: 100px
			margin-top: 15px
			cursor: pointer !important
			float: left
			text-align: center


	a 
		font-family: 微軟正黑體
		font-size: 18px
		line-height: 35px
		color: #FFF
		height: 50px
		width: 120px
		text-decoration: none
		cursor: pointer


