
//上方導航列
.nav-bar
	height: 60px
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 99
	background-color: rgba(27,29,44,0)
	transition: all 0.3s ease-in-out
	

	.menu_bg
		position: relative


		.menu
			height: 75px
			float: right
			cursor: default
			li 
				display: inline-block
				text-align: right
				margin-left: 40px
				width: 75px
				cursor: pointer

				a 
					font-size: 18px
					color: #fff
					text-decoration: none
					line-height: 65px
					display: block
					height: 60px
					border-bottom: 2px solid transparent
					transition: all 0.3s ease-in-out
					cursor: pointer

					&:hover
						border-bottom: 2px solid #fff
					.active
						border-bottom: 2px solid #fff





//標頭
#header
	position: relative
	width: 100%
	height: 850px
	padding: 0
	
	background-size: cover
	overflow: hidden

	.title-box
		@include center
		width: 540px
		margin-top: 250px


		span
			@include center
			font-size: 30px
			text-align: center
			color: #fff
			display: block
			cursor: default
			line-height: 80px

		.title-en
			font-size: 55px

		.title-ch
			font-size: 100px

		.title-sub
			font-size: 25px




//地圖
#google_map
	height: 400px
	background: #ccc

// #header-container 
//      position: relative
//      z-index: 1


// #full-wrapper 
//      position: relative
//      z-index: 0






.header_2
	height: 75px
	background: $main_color
	position: fixed
	top: -75px
	left: 0
	width: 100%
	z-index: 999

.logo
	position: relative
	float: left
	a 
		display: block
		width: 175px
		height: 75px
		text-indent: -9999px
		background: url("../img/logo.png")



.center_box
	position: relative
	margin: 0 auto

.btn_link_style
	width: 200px
	height: 55px
	border: 1px solid #fff
	color: #fff
	text-decoration: none
	display: block
	text-align: center
	line-height: 55px
	font-size: 26px
.btn_link_style_hover
	background: #fff
	color: #203993










.index
	background: url("../img/top/index_top.png") no-repeat center center


.footer


	height: 75px
	background: #2c2c2f
	p 
		font-size: 18px
		text-align: center
		line-height: 75px
		color: #fff
		@include breakpoint(xs)
			font-size: 15px
		@include breakpoint(xxs)
			font-size: 12px
		span 
			color: $main_color











