
@mixin breakpoint($point)
    @if $point == xxs
        @media screen and (max-width: 320px)
            @content
    @else if $point == xs_xxs
        @media screen and (min-width: 320px) and (max-width: 479px)
            @content
    @if $point == xs
        @media screen and (max-width: 480px)
            @content
    @else if $point == sm_xs
        @media screen and (min-width: 480px) and (max-width: 749px)
            @content
    @if $point == sm
        @media screen and (max-width: 750px)
            @content
    @if $point == sm_md
        @media screen and (max-width: 767px)
            @content
    @if $point == md
        @media screen and (max-width: 992px)
            @content
    @if $point == lg
        @media screen and (max-width: 1200px)
            @content





@mixin center

    position: relative
    margin-left: auto
    margin-right: auto



@mixin margin_w($px)

    margin-left: $px
    margin-right: $px