<!doctype html>
<html>
<head>


  <title>雲峯國際 ｜ 關於雲峯</title>
  <% include include_public %>
  <% include inner_page %>



</head>

<body id="body-about">   
    

    <% include top_navi %>


    <!-- Header -->
    <div class="header-bg">

        <% include top_menu_m %>    
        
        <div class="about_infobox">
           <h3>專業面對市場、永續經營企業、重視員工價值，是我們秉持的核心價值。</h3>
           <p>「身處台灣、放眼全球」致力成為委外產業中的翹楚。透過資訊系統的整合規劃管理，審視規劃完整的專業流程，以委外服務為根、資訊科技為本，整合內部價值及外部資源，配合完整的解決方案及即時支援服務，期待能永續經營穩健成長，整合委外產業並與客戶夥伴們共創榮景。</p>
        </div>

    </div>


    <!-- Section I -->

    <div class="bg-about section-grp">


        <div class="bg_mobile_container_grp">
          <div class="section_bg_mobile bg_about_mobile"></div>
        </div>

        <div class="textbox_grp textbox_right">

            


            <h2 class="wow zoomIn">公司簡介</h2>
            <p class="wow fadeInRight">專業面對市場、永續經營企業、重視員工價值，是我們秉持的核心價值。
                擅長整合專案流程管理、營運績效管理及維運經驗，並提供跨國及各產業的品牌客戶服務管理。
                誠摯邀請有高學習意願、強烈企圖心，及態度主動積極的各行業精英加入我們。
            </p>
        </div>
    </div>


    <!-- Section II 右側特效 (滿版) -->
    <div class="product_block_container">
       
        <div class="product_block_grp">
          
            <div class="product_block wow flashInDown"></div>
            <div class="product_block wow flashInUp"></div>
            <div class="product_block wow flashInDown"></div>

        </div>
    </div>


    <!-- Section II -->
    <div class="bg-product section-grp">


        <div class="bg_mobile_container_grp">
            <div class="section_bg_mobile bg_product_mobile"></div>
        </div>
      
        <div class="textbox_grp textbox_left">
              
              <h2 class="wow zoomIn">營運團隊</h2>
              
              <p class="wow fadeInLeft">以穩健為基礎、以踏實為方針、以效率為導向、以創新來拓展視野。
                  雲峯國際提供各式專業委外服務：客戶服務、品牌規劃、Web Application設計、遊戲設計、視覺美術設計...等不同領域專業委外服務；以高端技術及專業人力的雙面優勢，並結合後端不斷超越自我的設計師與技術團隊通力合作下，打造產品整合、持續創新、服務卓越的企業品牌資產。
              </p>
   
        </div>
   
     </div>

    <!-- Section III -->
    <div class="bg-joinus section-grp">  
      

      <div class="bg_mobile_container_grp">
          <div class="section_bg_mobile bg_joinus_mobile"></div>
      </div>

      <div  class="textbox_grp textbox_right">
          
         
          <h2 class="wow zoomIn ">經營理念</h2>
            
          <p class="wow fadeInRight">「身處台灣、放眼全球」致力成為委外產業中的翹楚。 透過資訊系統的整合規劃管理，審視規劃完整的專業流程，以委外服務為根、資訊科技為本，整合內部價值及外部資源，配合完整的解決方案及即時支援服務，期待能永續經營穩健成長。
          </p>
        
      </div>
       
    </div>
     
   


  <% include footer %>


</body>
</html>
