

<script type="text/javascript">

	var map,
		marker,
		latlng,
		style,
        infowindow,
        info_content;



	function initMap() {
	  	
		


		latlng =  {lat: 25.074035, lng: 121.578500};


        infowindow = new google.maps.InfoWindow({
            content: "THIS"
        });


		map = new google.maps.Map(document.getElementById('google_map'), {
		    center: {lat: 25.074035, lng: 121.578500},
		    zoom: 17,
     		scrollwheel: false,
		    styles: 

       


//--------------------------------------------------------------------------------------------------------	


		  [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "administrative.country",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "administrative.province",
        "elementType": "labels.icon",
        "stylers": [
            {
                "hue": "#ff0000"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#46bcec"
            },
            {
                "visibility": "on"
            }
        ]
    }
]







//--------------------------------------------------------------------------------------------------------			
		});



		marker = new google.maps.Marker({
		    position: latlng,
		    map: map,
		    title: '雲峯國際',
            icon:'../img/map-icon.png'

		});

        google.maps.event.addListener(marker, 'mouseover', function () {
            var point = fromLatLngToPoint(marker.getPosition(), map);
            $('#marker-tooltip').html('<span>台北市內湖區瑞光路168號8樓</span>').css({
                'left': point.x - 170,
                'top': point.y + 5830
            }).show();
        });


        google.maps.event.addListener(marker, 'mouseout', function () {
            $('#marker-tooltip').hide();
        });

        function fromLatLngToPoint(latLng, map) {
            var topRight = map.getProjection().fromLatLngToPoint(map.getBounds().getNorthEast());
            var bottomLeft = map.getProjection().fromLatLngToPoint(map.getBounds().getSouthWest());
            var scale = Math.pow(2, map.getZoom());
            var worldPoint = map.getProjection().fromLatLngToPoint(latLng);
            return new google.maps.Point((worldPoint.x - bottomLeft.x) * scale, (worldPoint.y - topRight.y) * scale);
        }

	}

</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfv8o4usBzEyrbqPg6bhUF6lEu8ozA-mE&callback=initMap">

</script>