<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0, 
                               maximum-scale=1.0, user-scalable=no" />

<meta name="robots" content="none"><!-- 上線時要改 <meta name="robots" content="index,follow"/> -->
<meta http-equiv="content-language" content="zh-TW" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="雲峯國際" content="雲峯國際" />   <!-- Meta for facebook Share Title -->
<meta name="keywords" content="雲峯國際"/>
<meta name="description" content="雲峯國際" />  <!-- Meta for facebook Share Description -->
<meta name="author" content="雲峯國際" />   <!-- Meta Author -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">     <!-- Meta For iPad, iPhone device -->
<link rel="icon" href="./img/favicon.ico" type="img/x-icon" />   <!-- favicon for others beside IE -->
<link rel="shortcut icon" href="/img/favicon.ico" />    <!-- favicon for IE -->

<!-- Vendor CSS-->
<link rel="stylesheet" href="/css/vendor/bootstrap.css">
<link rel="stylesheet" href="/css/vendor/animate.css">
<link rel="stylesheet" href="/css/vendor/menu.css">
<link rel="stylesheet" href="/css/vendor/reset.css">


<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/style_2.css">



<!-- Vendor JS -->
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/bootstrap.js"></script>
<script src="/js/vendor/wow.min.js"></script>
<script src="/js/vendor/menu.js"></script>
<script src="/js/vendor/EasePack.min.js"></script>
<script src="/js/vendor/TweenLite.min.js"></script>



<script src="/js/main.js"></script>
<script src="/js/menu.js"></script>











<script type="text/javascript">  new WOW().init()  </script>