<!DOCTYPE html>
<html>
<head>

  <title>雲峯國際</title>
  <% include include_public %>
  <% include google_map %>
</head>

<body id="body-index">

    <% include top_navi %>
    
    <!-- HEADER --> 
    <div id="header" class="index">
        
       
        <% include top_menu_m %>    
        

        <div class="title-box"></div>

    </div> 


    <div class="slogan-container">
      
        <h2 >相信所託 共創榮景</h2>
        <p>身處於瞬息萬變的資訊科技時代</br>選擇聰明的委外服務</br>將創造企業的最大財富</p>

    </div> 






    <!-- HEADER --> 
 <!--    <div class="container">
      <div class="row slogin_second">
        <div class="row slogin_second_tit_bg  animated fadeInDownBit">
          <div class="slogin_second_tit right col-sm-6"></div>
          <div class="slogin_second_tit left col-sm-6"></div>
        </div>
        <div class="row slogin_second_con_bg">
          <div class="slogin_second_con"></div>
          <div class="slogin_second_con"></div>
          <div class="slogin_second_con"></div>
        </div>
      </div>
    </div>  -->

    <!-- slogin_second edn -->
    
    <div class="container-fluid content_about">
      <div class="row about">
        <div class="container about_in">
          <div class="about_info col-lg-5 col-md-6 col-sm-7 col-xs-12">
            <div class="bg_top"></div>
            <div class="bg_bottom"></div>
            <div class="font">
              <div class="title wow fadeInDownBit">關於我們</div>
              <div class="info wow fadeInLeft">雲峯國際為台灣的專業委外服務科技公司，我們具備有整合專案流程管理、營運績效管理及維運經驗，並提供跨國及各產業的品牌客戶服務管理。</div>
              <div class="btn_link wow fadeIn"><a href="/about">了解更多</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid content_service">
      <div class="row service">
        <div class="container service_in">
          <div class="service_info col-lg-4 col-lg-offset-8 col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-12">
            <div class="bg_top"></div>
            <div class="bg_bottom"></div>
            <div class="font">
              <div class="title wow fadeInDownBit">服務項目</div>
              <div class="info wow fadeInRight">
                雲峰國際提供專業顧問服務，也提供高度獨特差異客製化的企業運營整體規劃支持服務，是企業主最佳的委外運營顧問與合作夥伴。
              </div>
              <div class="btn_link wow fadeIn"><a href="/product">了解更多</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid content_join">
      <div class="row join">
        <div class="container join_in">
          <div class="about_info col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <div class="bg_top"></div>
            <div class="bg_bottom"></div> 
            <div class="font">
              <div class="title wow fadeInDownBit">加入我們</div>
              <div class="info wow fadeInLeft">
                我們把員工作為公司最珍貴的資產，希望大家不只是同事，更是夥伴，雲峯國際重視的是
                
                "團隊合作"所能創造的無比力量!
              </div>
              <div class="btn_link wow fadeIn"><a href="/join">了解更多</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="container-fluid ct content-under">




        <div class="row greeting-container">
            <span ><a class="underline-effect" href="/about">想了解我們？</a></span>
        </div>


        <div class="row ct_con contact-container">


            <h2>雲峯國際有限公司</h2>
          
            <div class="contact-block">
                <div class="contact">
                    
                    <div class="contact-img img-01"></div>
                    <p class="info-01">台北市內湖區瑞光路168號8樓</p>

                </div>

                <div class="contact">
                    
                    <div class="contact-img img-02"></div>
                    <p class="info-02">service@cloudtopinc.com</p>

                </div>

                <div class="contact">
                    
                    <div class="contact-img img-03"></div>
                    <p class="info-03">TEL：+886-2-8751-8808<br/>FAX：+886-2-8751-9828</p>

                </div>
            </div>
        </div>
     
    </div>



    <div id="google_map"></div>
    <div id="marker-tooltip"></div>

    
    <% include footer %>






</body>
</html>
