<!doctype html>
<html>
<head>

 
  <title>雲峯國際 ｜ 加入雲峯</title>
  <% include include_public %>
  <% include inner_page %>



</head>

<body id="body-joinus">   


  <% include top_navi %>
    
    <div class="header">

        <% include top_menu_m %>    

        <div class="pd_infobox">
            <h3 class="animated fadeInDown" >站上改變世界的頂端</h3>
        </div> 

    </div>



    <div class="infobox-01 wow zoomIn">
     
        <p>雲峯國際延攬各界專才及具有發展潛力的未來之星，我們有充足的資源及龐大的市場供您揮灑。勇於挑戰，在雲峯國際永不缺乏您發揮的舞台。<br>
            我們更深知求才需要長遠的投資及共享的理念，所以我們跟您一樣重視對員工福利及待遇。</p>

    </div>

   
 
    <div class="shadow-effect-container">
      	
			<figure class="effect-ming effect-bg-01">
				<figcaption>
                    <div class="shadow-blur"></div>
					<h2></h2>
					<p>部門聚餐</p>
							
				</figcaption>			
			</figure>
			<figure class="effect-ming effect-bg-02">
				<figcaption>
                    <div class="shadow-blur"></div>
					<h2></h2>
					<p>下午茶</p>
					
				</figcaption>			
			</figure>
            <figure class="effect-ming effect-bg-03">
		       <figcaption>
                    <div class="shadow-blur"></div>
					<h2></h2> 
					<p>戶外活動</p>
              </figcaption>			
			</figure>
			<figure class="effect-ming effect-bg-04">
				<figcaption>
                    <div class="shadow-blur"></div>
					<h2></h2>
					<p>文青咖啡區</p>
					
				</figcaption>			
			</figure>
		
    </div>
  
      
 
		
   
    
    <div class="infobox-02 wow zoomIn">  
        <p>專業是我們面對客戶的核心，而認同則是雲峯國際企業內部的基石，我們希望「相信所託、共創榮景」這句話，不只是對客戶的承諾，更是每一位員工在雲峯國際工作時的信念。</p>
    </div>
    

    <div class="slogan-container ">

            <h3>創造生命的最大價值 <br> 歡迎成為我們的夥伴吧!</h3>
        

            <a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=5d3d456e3739416a33353d663b41391c92c2c2c2b435f412654j00&jobsource=checkc" class="btn btn-1">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
             Join us 
            </a>

    </div>
     
       

  <% include footer %>

</body>
</html>
