<!doctype html>
<html>
<head>

  <title>雲峯國際 ｜ 服務項目</title>
  <% include include_public %>
  <% include inner_page %>

</head>
  
<body id="body-product">   
    
    <% include top_navi %>
    
    <!-- Header -->   
    <div class="header-bg">

        <% include top_menu_m %>    

        <div class="pd_infobox">
            <h3 class="animated fadeInDown" >從新創到創新</h3>
        </div> 
    </div>
 

      
    <!-- Section I -->
    <div class="section2">
       <div class="bg-01 section-grp">
         <div class="textbox-container">
         <div class="textbox-bg textbox-bg-01 bg-right">
           <h2 class="wow zoomIn">品牌設計服務</h2>
           <p class="wow fadeInUp">商場上，缺乏定位的產品沒有生存的可能。以市場環境出發，協助客戶找出方向、體現自身差異，並打造您品牌獨一無二的卓越價值。
              </p>
          </div>
        </div>
       </div>
    </div>
    
    <!-- Section II --> 
    <div class="section3">
       <div class="bg-02 section-grp">  
         <div class="textbox-container">
          <div class="textbox-bg textbox-bg-02">
            <h2 class="wow zoomIn">產品設計服務</h2>
            <p class="wow fadeInUp">產品是整體商業架構的核心，好的產品能考慮市場性及技術力的全局規劃，深化市場性並持續改善客戶體驗，務求永遠走在產業的最前端。
                </p>
     
          </div>
         </div>
       </div>
       
     </div>
     
    <!-- Section III --> 
    <div class="section4">
      <div class="bg-03 section-grp">  
         <div class="textbox-container">
          <div class="textbox-bg  textbox-bg-03 bg-right">
            <h2 class="wow zoomIn">客服委外服務</h2>
            <p class="wow fadeInUp">「由業界深具經驗的專業領導團隊帶領，聆聽客戶的心聲、執行最好的溝通，務求創造產品與品牌面對客戶的最佳樣貌。
          </p>
            
          </div>
         </div>
       </div>
       
     </div>   



    <% include footer %>


</body>
</html>
