<div class="inner-top-navi">
    <div class="container">
		<a href="/" id="back-to-top"><div class="logo">
      

            <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 125 44" style="enable-background:new 0 0 125 44;" xml:space="preserve">
<g>
    <g>
        <path d="M94.5,9.6h-6.2v16.6h-3.8V9.6h-6.2V6.2h16.2V9.6z"/>
        <path d="M18.9,9.8l-2.6,2.5c-1.8-1.9-3.7-2.8-5.9-2.8c-1.9,0-3.4,0.6-4.7,1.9s-1.9,2.8-1.9,4.7c0,1.3,0.3,2.5,0.8,3.5
            s1.4,1.8,2.4,2.4c1,0.6,2.2,0.9,3.4,0.9c1.1,0,2.1-0.2,2.9-0.6c0.9-0.4,1.9-1.1,2.9-2.2l2.5,2.6c-1.4,1.4-2.8,2.4-4.1,2.9
            c-1.3,0.5-2.7,0.8-4.4,0.8c-3,0-5.5-1-7.4-2.9C1,21.6,0,19.1,0,16.1c0-1.9,0.4-3.7,1.3-5.2c0.9-1.5,2.1-2.7,3.8-3.6
            c1.6-0.9,3.4-1.4,5.3-1.4c1.6,0,3.2,0.3,4.6,1C16.5,7.6,17.8,8.6,18.9,9.8z"/>
        <path d="M20.9,5.9h3.6v20h-3.6V5.9z"/>
        <path d="M34.6,11.1c1.4,0,2.6,0.3,3.8,1c1.2,0.7,2.1,1.6,2.8,2.8c0.7,1.2,1,2.4,1,3.8c0,1.4-0.3,2.6-1,3.8
            c-0.7,1.2-1.6,2.1-2.8,2.8s-2.4,1-3.9,1c-2.1,0-3.8-0.7-5.3-2.2c-1.5-1.5-2.2-3.3-2.2-5.4c0-2.2,0.8-4.1,2.5-5.6
            C31,11.8,32.7,11.1,34.6,11.1z M34.6,14.5c-1.1,0-2.1,0.4-2.8,1.2c-0.7,0.8-1.1,1.8-1.1,3c0,1.3,0.4,2.3,1.1,3
            c0.7,0.8,1.7,1.2,2.8,1.2c1.1,0,2.1-0.4,2.8-1.2c0.8-0.8,1.1-1.8,1.1-3c0-1.2-0.4-2.2-1.1-3C36.7,14.9,35.8,14.5,34.6,14.5z"/>
        <path d="M45.2,11.5h3.7v6.9c0,1.3,0.1,2.3,0.3,2.8c0.2,0.5,0.5,0.9,0.9,1.2c0.4,0.3,0.9,0.4,1.5,0.4c0.6,0,1.1-0.1,1.5-0.4
            c0.4-0.3,0.7-0.7,0.9-1.3c0.2-0.4,0.2-1.3,0.2-2.7v-7.1h3.6v6.1c0,2.5-0.2,4.2-0.6,5.2c-0.5,1.1-1.2,2-2.1,2.6
            c-0.9,0.6-2.1,0.9-3.6,0.9c-1.6,0-2.9-0.4-3.8-1.1c-1-0.7-1.7-1.7-2.1-3c-0.3-0.9-0.4-2.5-0.4-4.8V11.5z"/>
        <path d="M72.1,5.9h3.6v20h-3.6v-1.5c-0.7,0.7-1.4,1.2-2.1,1.4c-0.7,0.3-1.5,0.4-2.3,0.4c-1.9,0-3.5-0.7-4.8-2.2
            c-1.4-1.4-2-3.2-2-5.4c0-2.2,0.7-4,2-5.5c1.3-1.4,2.9-2.1,4.8-2.1c0.9,0,1.7,0.2,2.4,0.5c0.8,0.3,1.5,0.8,2.1,1.5V5.9z M68.3,14.5
            c-1.1,0-2,0.4-2.8,1.2c-0.7,0.8-1.1,1.8-1.1,3c0,1.2,0.4,2.3,1.1,3.1c0.8,0.8,1.7,1.2,2.8,1.2c1.1,0,2.1-0.4,2.8-1.2
            c0.7-0.8,1.1-1.8,1.1-3.1c0-1.3-0.4-2.3-1.1-3C70.4,14.8,69.4,14.5,68.3,14.5z"/>
        <path d="M99.5,11.1c1.4,0,2.6,0.3,3.8,1c1.2,0.7,2.1,1.6,2.8,2.8c0.7,1.2,1,2.4,1,3.8c0,1.4-0.3,2.6-1,3.8
            c-0.7,1.2-1.6,2.1-2.8,2.8s-2.4,1-3.9,1c-2.1,0-3.8-0.7-5.3-2.2c-1.5-1.5-2.2-3.3-2.2-5.4c0-2.2,0.8-4.1,2.5-5.6
            C95.9,11.8,97.6,11.1,99.5,11.1z M99.5,14.5c-1.1,0-2.1,0.4-2.8,1.2c-0.7,0.8-1.1,1.8-1.1,3c0,1.3,0.4,2.3,1.1,3
            c0.7,0.8,1.7,1.2,2.8,1.2c1.1,0,2.1-0.4,2.8-1.2c0.8-0.8,1.1-1.8,1.1-3c0-1.2-0.4-2.2-1.1-3C101.6,14.9,100.7,14.5,99.5,14.5z"/>
        <path d="M113.7,11.5v1.6c0.7-0.7,1.4-1.1,2.1-1.5c0.8-0.3,1.6-0.5,2.4-0.5c1.9,0,3.5,0.7,4.8,2.1c1.3,1.4,2,3.2,2,5.5
            c0,2.1-0.7,3.9-2,5.4c-1.4,1.4-3,2.2-4.8,2.2c-0.8,0-1.6-0.1-2.3-0.4c-0.7-0.3-1.4-0.8-2.1-1.4v6.8h-3.6V11.5H113.7z M117.5,14.5
            c-1.1,0-2.1,0.4-2.8,1.2c-0.7,0.8-1.1,1.8-1.1,3c0,1.3,0.4,2.3,1.1,3.1c0.7,0.8,1.7,1.2,2.8,1.2c1.1,0,2-0.4,2.8-1.2
            c0.8-0.8,1.1-1.8,1.1-3.1c0-1.2-0.4-2.2-1.1-3C119.5,14.9,118.6,14.5,117.5,14.5z"/>
    </g>
    <path d="M0.1,32.5h1.1v11.2H0.1V32.5z"/>
    <path d="M3.6,35.4h1.1v1.5c0.4-0.6,0.9-1,1.4-1.3c0.5-0.3,1.1-0.4,1.7-0.4c0.6,0,1.2,0.2,1.6,0.5c0.5,0.3,0.8,0.7,1.1,1.3
        c0.2,0.5,0.3,1.4,0.3,2.5v4.2H9.8v-3.9c0-1,0-1.6-0.1-1.9c-0.1-0.5-0.4-1-0.7-1.2c-0.3-0.3-0.8-0.4-1.4-0.4c-0.6,0-1.2,0.2-1.7,0.6
        c-0.5,0.4-0.8,1-1,1.6c-0.1,0.4-0.2,1.2-0.2,2.2v3H3.6V35.4z"/>
    <path d="M14,32.3h1.1v3.1h1.7v0.9h-1.7v7.3H14v-7.3h-1.4v-0.9H14V32.3z"/>
    <path d="M25.3,40.9l0.9,0.5c-0.3,0.6-0.6,1-1,1.4c-0.4,0.4-0.8,0.6-1.3,0.8c-0.5,0.2-1,0.3-1.6,0.3c-1.3,0-2.4-0.4-3.2-1.3
        s-1.1-1.9-1.1-3c0-1,0.3-2,1-2.8c0.8-1,1.9-1.6,3.3-1.6c1.4,0,2.5,0.5,3.4,1.6c0.6,0.8,0.9,1.7,0.9,2.8h-7.4c0,1,0.3,1.7,0.9,2.4
        c0.6,0.6,1.3,0.9,2.2,0.9c0.4,0,0.8-0.1,1.2-0.2c0.4-0.1,0.7-0.3,1-0.6C24.7,41.9,25,41.5,25.3,40.9z M25.3,38.7
        c-0.1-0.6-0.3-1-0.6-1.4c-0.3-0.3-0.6-0.6-1.1-0.8c-0.4-0.2-0.9-0.3-1.4-0.3c-0.8,0-1.5,0.3-2.1,0.8c-0.4,0.4-0.7,0.9-1,1.7H25.3z"
        />
    <path d="M28.1,35.4h1.1v1.2c0.3-0.5,0.7-0.8,1-1.1c0.4-0.2,0.7-0.4,1.1-0.4c0.3,0,0.6,0.1,0.9,0.3l-0.6,0.9
        c-0.2-0.1-0.4-0.1-0.6-0.1c-0.4,0-0.7,0.1-1,0.4c-0.3,0.3-0.6,0.7-0.8,1.4c-0.1,0.5-0.2,1.4-0.2,2.9v2.8h-1.1V35.4z"/>
    <path d="M33.1,35.4h1.1v1.5c0.4-0.6,0.9-1,1.4-1.3c0.5-0.3,1.1-0.4,1.7-0.4c0.6,0,1.2,0.2,1.6,0.5c0.5,0.3,0.8,0.7,1.1,1.3
        c0.2,0.5,0.3,1.4,0.3,2.5v4.2h-1.1v-3.9c0-1,0-1.6-0.1-1.9c-0.1-0.5-0.4-1-0.7-1.2c-0.3-0.3-0.8-0.4-1.4-0.4
        c-0.6,0-1.2,0.2-1.7,0.6c-0.5,0.4-0.8,1-1,1.6c-0.1,0.4-0.2,1.2-0.2,2.2v3h-1.1V35.4z"/>
    <path d="M50.9,35.4v8.3h-1v-1.4c-0.4,0.5-0.9,0.9-1.5,1.2c-0.6,0.3-1.2,0.4-1.8,0.4c-1.2,0-2.2-0.4-3-1.3c-0.8-0.8-1.2-1.9-1.2-3.1
        c0-1.2,0.4-2.2,1.3-3.1c0.8-0.8,1.8-1.3,3-1.3c0.7,0,1.3,0.1,1.8,0.4c0.5,0.3,1,0.7,1.4,1.3v-1.5H50.9z M46.6,36.2
        c-0.6,0-1.1,0.1-1.6,0.4c-0.5,0.3-0.9,0.7-1.2,1.2c-0.3,0.5-0.4,1.1-0.4,1.7c0,0.6,0.1,1.1,0.4,1.7c0.3,0.5,0.7,0.9,1.2,1.2
        c0.5,0.3,1,0.4,1.6,0.4c0.6,0,1.1-0.1,1.7-0.4c0.5-0.3,0.9-0.7,1.2-1.2s0.4-1.1,0.4-1.7c0-1-0.3-1.8-0.9-2.4
        C48.3,36.5,47.5,36.2,46.6,36.2z"/>
    <path d="M54.2,32.3h1.1v3.1h1.7v0.9h-1.7v7.3h-1.1v-7.3h-1.4v-0.9h1.4V32.3z"/>
    <path d="M58.9,32c0.2,0,0.4,0.1,0.6,0.3c0.2,0.2,0.3,0.4,0.3,0.6c0,0.2-0.1,0.4-0.3,0.6c-0.2,0.2-0.4,0.3-0.6,0.3
        c-0.2,0-0.4-0.1-0.6-0.3c-0.2-0.2-0.3-0.4-0.3-0.6c0-0.2,0.1-0.5,0.3-0.6C58.4,32.1,58.6,32,58.9,32z M58.3,35.4h1.1v8.3h-1.1V35.4
        z"/>
    <path d="M65.5,35.2c1.3,0,2.3,0.5,3.2,1.4c0.8,0.8,1.1,1.8,1.1,3c0,1.2-0.4,2.2-1.2,3s-1.8,1.3-3.1,1.3c-1.3,0-2.3-0.4-3.1-1.3
        s-1.2-1.9-1.2-3c0-1.1,0.4-2.1,1.1-3C63.2,35.7,64.3,35.2,65.5,35.2z M65.5,36.2c-0.9,0-1.6,0.3-2.3,1c-0.6,0.7-1,1.4-1,2.4
        c0,0.6,0.1,1.2,0.4,1.7c0.3,0.5,0.7,0.9,1.2,1.2c0.5,0.3,1,0.4,1.6,0.4s1.1-0.1,1.6-0.4c0.5-0.3,0.9-0.7,1.2-1.2
        c0.3-0.5,0.4-1.1,0.4-1.7c0-0.9-0.3-1.7-1-2.4C67.2,36.6,66.4,36.2,65.5,36.2z"/>
    <path d="M71.8,35.4h1.1v1.5c0.4-0.6,0.9-1,1.4-1.3c0.5-0.3,1.1-0.4,1.7-0.4c0.6,0,1.2,0.2,1.6,0.5c0.5,0.3,0.8,0.7,1.1,1.3
        c0.2,0.5,0.3,1.4,0.3,2.5v4.2h-1.1v-3.9c0-1,0-1.6-0.1-1.9c-0.1-0.5-0.4-1-0.7-1.2c-0.3-0.3-0.8-0.4-1.4-0.4
        c-0.6,0-1.2,0.2-1.7,0.6c-0.5,0.4-0.8,1-1,1.6c-0.1,0.4-0.2,1.2-0.2,2.2v3h-1.1V35.4z"/>
    <path d="M89.5,35.4v8.3h-1v-1.4c-0.4,0.5-0.9,0.9-1.5,1.2c-0.6,0.3-1.2,0.4-1.8,0.4c-1.2,0-2.2-0.4-3-1.3c-0.8-0.8-1.2-1.9-1.2-3.1
        c0-1.2,0.4-2.2,1.3-3.1c0.8-0.8,1.8-1.3,3-1.3c0.7,0,1.3,0.1,1.8,0.4c0.5,0.3,1,0.7,1.4,1.3v-1.5H89.5z M85.3,36.2
        c-0.6,0-1.1,0.1-1.6,0.4c-0.5,0.3-0.9,0.7-1.2,1.2C82.1,38.4,82,39,82,39.6c0,0.6,0.1,1.1,0.4,1.7c0.3,0.5,0.7,0.9,1.2,1.2
        c0.5,0.3,1,0.4,1.6,0.4c0.6,0,1.1-0.1,1.7-0.4c0.5-0.3,0.9-0.7,1.2-1.2s0.4-1.1,0.4-1.7c0-1-0.3-1.8-0.9-2.4
        C86.9,36.5,86.2,36.2,85.3,36.2z"/>
    <path d="M91.7,32.2h1.1v11.4h-1.1V32.2z"/>
    <path d="M99.9,32.5h1.1v11.2h-1.1V32.5z"/>
    <path d="M103.4,35.4h1.1v1.5c0.4-0.6,0.9-1,1.4-1.3c0.5-0.3,1.1-0.4,1.7-0.4c0.6,0,1.2,0.2,1.6,0.5c0.5,0.3,0.8,0.7,1.1,1.3
        c0.2,0.5,0.3,1.4,0.3,2.5v4.2h-1.1v-3.9c0-1,0-1.6-0.1-1.9c-0.1-0.5-0.4-1-0.7-1.2c-0.3-0.3-0.8-0.4-1.4-0.4
        c-0.6,0-1.2,0.2-1.7,0.6c-0.5,0.4-0.8,1-1,1.6c-0.1,0.4-0.2,1.2-0.2,2.2v3h-1.1V35.4z"/>
    <path d="M120.9,37.1l-0.8,0.5c-0.7-1-1.7-1.4-3-1.4c-1,0-1.8,0.3-2.5,1c-0.7,0.6-1,1.4-1,2.4c0,0.6,0.2,1.2,0.5,1.7
        c0.3,0.5,0.7,0.9,1.3,1.2c0.5,0.3,1.1,0.4,1.8,0.4c1.2,0,2.2-0.5,3-1.4l0.8,0.6c-0.4,0.6-0.9,1.1-1.6,1.4c-0.7,0.3-1.4,0.5-2.3,0.5
        c-1.3,0-2.4-0.4-3.2-1.2c-0.9-0.8-1.3-1.8-1.3-3c0-0.8,0.2-1.5,0.6-2.2c0.4-0.7,1-1.2,1.7-1.6c0.7-0.4,1.5-0.6,2.4-0.6
        c0.5,0,1.1,0.1,1.6,0.3c0.5,0.2,0.9,0.4,1.3,0.7C120.3,36.4,120.6,36.7,120.9,37.1z"/>
    <path d="M124.1,42c0.3,0,0.5,0.1,0.7,0.3c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7s-0.4,0.3-0.7,0.3s-0.5-0.1-0.7-0.3
        c-0.2-0.2-0.3-0.4-0.3-0.7c0-0.3,0.1-0.5,0.3-0.7C123.6,42.1,123.8,42,124.1,42z"/>
    <g>
        <path d="M82.4,4.5l3.7-4.2c0,0,0.3-0.3,0.6,0c0.3,0.3,4,4.4,4,4.4s-0.8,0.2-1.5,1.2c0,0-1-1.4-2.7-1.2s-2.3,1.2-2.3,1.2
            S83.6,4.8,82.4,4.5z"/>
    </g>
</g>
</svg>



        </div></a>
		
 
		<ul class="navi-ul">
		    
		    <li class="navi-btn animate"><a href="/about">關於我們</a></li>
		    <li class="navi-btn animate"><a href="/product">服務項目</a></li>
		    <li class="navi-btn animate"><a href="/join">加入我們</a></li>

		</ul>


		<!-- 漢堡列 -->
		<div class="hamburger-box">
			<a id="hamburger-icon" href="#" title="Menu">
			  <span class="line line-1"></span>
			  <span class="line line-2"></span>
			  <span class="line line-3"></span>
			</a>
		</div>


	</div>  
</div>