@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.slogan .img {
  top: 40%;
  transform: translateY(-50%);
  height: 255px;
}
@media screen and (max-width: 750px) {
  .slogan .img {
    top: 55%;
  }
}
@media screen and (min-width: 480px) and (max-width: 749px) {
  .slogan .img {
    top: 65%;
  }
}
@media screen and (max-width: 480px) {
  .slogan .img {
    top: 70%;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .slogan .img {
    top: 55%;
  }
}
@media screen and (max-width: 320px) {
  .slogan .img {
    top: 70%;
  }
}

.slogin_second {
  position: relative;
  z-index: 0;
}
.slogin_second .slogin_second_tit_bg {
  margin-top: 100px;
}
.slogin_second .slogin_second_tit {
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
}
@media screen and (max-width: 767px) {
  .slogin_second .slogin_second_tit {
    font-size: 60px;
  }
}
@media screen and (max-width: 480px) {
  .slogin_second .slogin_second_tit {
    font-size: 50px;
    line-height: 55px;
  }
}
.slogin_second .right {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .slogin_second .right {
    text-align: center;
  }
}
.slogin_second .left {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .slogin_second .left {
    text-align: center;
  }
}
.slogin_second .slogin_second_con_bg {
  margin-top: 50px;
  animation-delay: 0.3s;
}
.slogin_second .slogin_second_con {
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}
@media screen and (max-width: 480px) {
  .slogin_second .slogin_second_con {
    font-size: 20px;
  }
}

.content_about .about {
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .content_about .about {
    background: url("../img/index/index_about_m.png") no-repeat center bottom;
  }
}
.content_about .about .about_in {
  padding: 0px;
}
.content_about .about .about_in .about_info {
  padding: 0;
  position: relative;
  top: 250px;
}
@media screen and (max-width: 767px) {
  .content_about .about .about_in .about_info {
    top: 500px;
  }
}
.content_about .about .about_in .about_info .bg_top {
  position: relative;
  top: 0;
  height: 600px;
  background: linear-gradient(169deg, transparent 160px, #203993 0);
}
@media screen and (max-width: 767px) {
  .content_about .about .about_in .about_info .bg_top {
    height: 450px;
  }
}
.content_about .about .about_in .about_info .bg_bottom {
  position: relative;
  bottom: 0;
  height: 500px;
  background: linear-gradient(-11deg, transparent 240px, #203993 0);
}
@media screen and (max-width: 767px) {
  .content_about .about .about_in .about_info .bg_bottom {
    height: 350px;
  }
}
.content_about .about .about_in .about_info .font {
  text-align: left;
  width: 80%;
  height: 50%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  color: #fff;
  left: 10%;
}
@media screen and (max-width: 767px) {
  .content_about .about .about_in .about_info .font {
    top: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .content_about .about .about_in .about_info .font {
    top: 48%;
  }
}
.content_about .about .about_in .about_info .font .title {
  font-size: 50px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .content_about .about .about_in .about_info .font .title {
    font-size: 40px;
  }
}
.content_about .about .about_in .about_info .font .info {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 100px;
  animation-delay: 0.5s;
}
@media screen and (max-width: 767px) {
  .content_about .about .about_in .about_info .font .info {
    line-height: 35px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .content_about .about .about_in .about_info .font .info {
    font-size: 18px;
  }
}
.content_about .about .about_in .about_info .font .btn_link {
  animation-delay: 0.8s;
}
.content_about .about .about_in .about_info .font .btn_link a {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .content_about .about .about_in .about_info .font .btn_link a {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .content_about .about .about_in .about_info .font .btn_link a {
    font-size: 20px;
    width: 150px;
  }
}

.content_service .service {
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .content_service .service {
    background: url("../img/index/index_service_m.png") no-repeat center bottom;
  }
}
.content_service .service .service_in {
  padding: 0px;
}
.content_service .service .service_in .service_info {
  padding: 0;
  position: relative;
  top: 150px;
}
@media screen and (max-width: 767px) {
  .content_service .service .service_in .service_info {
    top: 500px;
  }
}
.content_service .service .service_in .service_info .bg_top {
  position: relative;
  top: 0;
  height: 600px;
  background: linear-gradient(169deg, transparent 160px, #203993 0);
}
@media screen and (max-width: 767px) {
  .content_service .service .service_in .service_info .bg_top {
    height: 450px;
    background: linear-gradient(192deg, transparent 160px, #203993 0);
  }
}
.content_service .service .service_in .service_info .bg_bottom {
  position: relative;
  bottom: 0;
  height: 500px;
  background: linear-gradient(-11deg, transparent 240px, #203993 0);
}
@media screen and (max-width: 767px) {
  .content_service .service .service_in .service_info .bg_bottom {
    height: 350px;
    background: linear-gradient(11deg, transparent 240px, #203993 0);
  }
}
.content_service .service .service_in .service_info .font {
  text-align: left;
  width: 80%;
  height: 50%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  color: #fff;
  left: 10%;
}
@media screen and (max-width: 767px) {
  .content_service .service .service_in .service_info .font {
    top: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .content_service .service .service_in .service_info .font {
    top: 48%;
  }
}
.content_service .service .service_in .service_info .font .title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .content_service .service .service_in .service_info .font .title {
    font-size: 40px;
  }
}
.content_service .service .service_in .service_info .font .info {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 100px;
  animation-delay: 0.5s;
}
@media screen and (max-width: 767px) {
  .content_service .service .service_in .service_info .font .info {
    line-height: 35px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .content_service .service .service_in .service_info .font .info {
    font-size: 18px;
  }
}
.content_service .service .service_in .service_info .font .btn_link {
  animation-delay: 0.8s;
}
.content_service .service .service_in .service_info .font .btn_link a {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .content_service .service .service_in .service_info .font .btn_link a {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .content_service .service .service_in .service_info .font .btn_link a {
    font-size: 20px;
    width: 150px;
  }
}

.content_join {
  position: relative;
  height: 1200px;
  background: url("../img/index/index-bg-03.png") no-repeat center top fixed;
  background-size: cover;
}
.content_join .join {
  position: relative;
  height: 1200px;
  background: url("../img/index/index-bg-hole-03.png") no-repeat center top;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .content_join .join {
    background: url("../img/index/index_about_m.png") no-repeat center bottom;
  }
}
.content_join .join .join_in {
  padding: 0px;
}
.content_join .join .join_in .about_info {
  padding: 0;
  position: relative;
  top: 250px;
}
@media screen and (max-width: 767px) {
  .content_join .join .join_in .about_info {
    top: 500px;
  }
}
.content_join .join .join_in .about_info .bg_top {
  position: relative;
  top: 0;
  height: 600px;
  background: linear-gradient(169deg, transparent 160px, #203993 0);
}
@media screen and (max-width: 767px) {
  .content_join .join .join_in .about_info .bg_top {
    height: 450px;
  }
}
.content_join .join .join_in .about_info .bg_bottom {
  position: relative;
  bottom: 0;
  height: 500px;
  background: linear-gradient(-11deg, transparent 240px, #203993 0);
}
@media screen and (max-width: 767px) {
  .content_join .join .join_in .about_info .bg_bottom {
    height: 350px;
  }
}
.content_join .join .join_in .about_info .font {
  text-align: left;
  width: 80%;
  height: 50%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  color: #fff;
  left: 10%;
}
@media screen and (max-width: 767px) {
  .content_join .join .join_in .about_info .font {
    top: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .content_join .join .join_in .about_info .font {
    top: 48%;
  }
}
.content_join .join .join_in .about_info .font .title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .content_join .join .join_in .about_info .font .title {
    font-size: 40px;
  }
}
.content_join .join .join_in .about_info .font .info {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 100px;
  animation-delay: 0.5s;
}
@media screen and (max-width: 767px) {
  .content_join .join .join_in .about_info .font .info {
    line-height: 35px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .content_join .join .join_in .about_info .font .info {
    font-size: 18px;
  }
}
.content_join .join .join_in .about_info .font .btn_link {
  animation-delay: 0.8s;
}
.content_join .join .join_in .about_info .font .btn_link a {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .content_join .join .join_in .about_info .font .btn_link a {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .content_join .join .join_in .about_info .font .btn_link a {
    font-size: 20px;
    width: 150px;
  }
}

.ct {
  margin-top: 200px;
  position: relative;
  background: url("../img/index/index-bg-04.png") no-repeat fixed center bottom;
  background-size: contain !important;
}
@media screen and (max-width: 767px) {
  .ct {
    background: url("../img/index/ct_bg_m.jpg") no-repeat center top;
  }
}
@media screen and (max-width: 767px) {
  .ct {
    margin-top: 0px;
  }
}
@media screen and (max-width: 480px) {
  .ct {
    margin-top: -400px;
  }
}
.ct .ct_top {
  font-size: 50px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  height: 300px;
  line-height: 300px;
}
@media screen and (max-width: 767px) {
  .ct .ct_top {
    font-size: 40px;
  }
}
.ct .ct_con {
  background: #2c2c2f;
  padding: 50px 0;
}
@media screen and (max-width: 480px) {
  .ct .ct_con {
    padding: 30px 0;
  }
}
.ct .ct_con .title {
  font-size: 50px;
  color: #309cd1;
  text-align: center;
  line-height: 200px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .ct .ct_con .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 320px) {
  .ct .ct_con .title {
    font-size: 32px;
  }
}
.ct .ct_con .icon {
  width: 20%;
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .ct .ct_con .icon {
    width: 30%;
  }
}
.ct .ct_con .info {
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-bottom: 150px;
  padding-top: 30px;
}
@media screen and (max-width: 320px) {
  .ct .ct_con .info {
    font-size: 18px;
  }
}

.nav-bar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(27, 29, 44, 0);
  transition: all 0.3s ease-in-out;
}
.nav-bar .menu_bg {
  position: relative;
}
.nav-bar .menu_bg .menu {
  height: 75px;
  float: right;
  cursor: default;
}
.nav-bar .menu_bg .menu li {
  display: inline-block;
  text-align: right;
  margin-left: 40px;
  width: 75px;
  cursor: pointer;
}
.nav-bar .menu_bg .menu li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  line-height: 65px;
  display: block;
  height: 60px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.nav-bar .menu_bg .menu li a:hover {
  border-bottom: 2px solid #fff;
}
.nav-bar .menu_bg .menu li a .active {
  border-bottom: 2px solid #fff;
}

#header {
  position: relative;
  width: 100%;
  height: 850px;
  padding: 0;
  background-size: cover;
  overflow: hidden;
}
#header .title-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  margin-top: 250px;
}
#header .title-box span {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  color: #fff;
  display: block;
  cursor: default;
  line-height: 80px;
}
#header .title-box .title-en {
  font-size: 55px;
}
#header .title-box .title-ch {
  font-size: 100px;
}
#header .title-box .title-sub {
  font-size: 25px;
}

#google_map {
  height: 400px;
  background: #ccc;
}

.header_2 {
  height: 75px;
  background: #309cd1;
  position: fixed;
  top: -75px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  position: relative;
  float: left;
}
.logo a {
  display: block;
  width: 175px;
  height: 75px;
  text-indent: -9999px;
  background: url("../img/logo.png");
}

.center_box, .slogan, .ct .ct_con .icon {
  position: relative;
  margin: 0 auto;
}

.btn_link_style, .content_about .about .about_in .about_info .font .btn_link a, .content_service .service .service_in .service_info .font .btn_link a, .content_join .join .join_in .about_info .font .btn_link a {
  width: 200px;
  height: 55px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 55px;
  font-size: 26px;
}

.btn_link_style_hover, .content_about .about .about_in .about_info .font .btn_link a:hover, .content_service .service .service_in .service_info .font .btn_link a:hover, .content_join .join .join_in .about_info .font .btn_link a:hover {
  background: #fff;
  color: #203993;
}

.index {
  background: url("../img/top/index_top.png") no-repeat center center;
}

.footer {
  height: 75px;
  background: #2c2c2f;
}
.footer p {
  font-size: 18px;
  text-align: center;
  line-height: 75px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .footer p {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .footer p {
    font-size: 12px;
  }
}
.footer p span {
  color: #309cd1;
}

/*-----  上方導航列  ------ */
.inner-top-navi {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #309cd1;
}
.inner-top-navi .logo {
  float: left;
}
.inner-top-navi ul {
  height: 50px;
  width: 360px;
  float: right;
}
.inner-top-navi ul li {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  width: 100px;
  margin-top: 15px;
  cursor: pointer !important;
  float: left;
  text-align: center;
}
.inner-top-navi a {
  font-family: 微軟正黑體;
  font-size: 18px;
  line-height: 35px;
  color: #FFF;
  height: 50px;
  width: 120px;
  text-decoration: none;
  cursor: pointer;
}
