@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-family: PingFangTC-Thin, sans-serif; }

a {
  font-family: PingFangTC-Thin, sans-serif !important; }

.underline-effect {
  letter-spacing: 0; }

.underline-effect:after,
.underline-effect:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  margin-top: -110px;
  transform: translateX(-10px); }

.underline-effect:hover:after,
.underline-effect:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 80%;
  width: 200px; }

.underline-effect:hover:before {
  bottom: auto;
  top: 0;
  width: 80%;
  width: 200px; }

.underline-effect:before {
  display: none; }

@-webkit-keyframes fadeInDownBit {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDownBit {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInDownBit {
  -webkit-animation-name: fadeInDownBit;
  animation-name: fadeInDownBit; }

/*==========================================*/
@-webkit-keyframes flashInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes flashInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.flashInDown {
  -webkit-animation-name: flashInDown;
  animation-name: flashInDown; }

/*==========================================*/
@-webkit-keyframes flashInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes flashInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.flashInUp {
  -webkit-animation-name: flashInUp;
  animation-name: flashInUp; }

.shadow-effect-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1024px;
  height: 680px;
  clear: both;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0; }
  .shadow-effect-container figure {
    position: relative;
    overflow: hidden;
    min-width: 510px;
    width: 510px;
    text-align: center;
    height: 340px;
    float: left; }
    .shadow-effect-container figure img {
      position: relative;
      opacity: 0.8;
      width: 100%; }
    .shadow-effect-container figure figcaption {
      color: #fff;
      text-transform: uppercase;
      font-size: 30px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .shadow-effect-container figure figcaption:before {
        pointer-events: none; }
      .shadow-effect-container figure figcaption:after {
        pointer-events: none; }
      .shadow-effect-container figure figcaption .shadow-blur {
        position: absolute;
        width: 510px;
        height: 340px;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all .4s ease-in-out;
        opacity: 0;
        pointer-events: none; }

.shadow-effect-container figure figcaption,
.shadow-effect-container figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 510px;
  height: 340px; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.shadow-effect-container figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.shadow-effect-container figure h2 {
  font-weight: 300;
  height: 16px; }

.shadow-effect-container figure h2 span {
  font-weight: 300; }

.shadow-effect-container figure p {
  letter-spacing: 3px;
  font-size: 30px; }

/*---------------*/
/***** Ming *****/
/*---------------*/
figure.effect-ming {
  background: #030c17; }

figure.effect-ming img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.effect-ming figcaption::before {
  position: absolute;
  border: 2px solid #fff;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.4, 1.4, 1);
  transform: scale3d(1.4, 1.4, 1);
  left: 30px;
  top: 30px;
  right: 30px;
  bottom: 30px; }

figure.effect-ming h2 {
  margin: 20% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  pointer-events: none; }

figure.effect-ming p {
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  pointer-events: none; }

figure.effect-ming:hover h2 {
  -webkit-transform: scale(0.9);
  transform: scale(0.9); }

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

figure.effect-ming:hover figcaption {
  background-color: rgba(58, 52, 42, 0); }

figure.effect-ming:hover img {
  opacity: 0.4; }

/* Media queries */
#body-index .inner-top-navi .logo {
  opacity: 0;
  pointer-events: none; }

.inner-top-navi {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #309cd1; }
  .inner-top-navi .logo {
    float: left;
    transition: all .3s ease-in-out; }
  .inner-top-navi ul {
    height: 50px;
    width: 360px;
    float: right; }
    .inner-top-navi ul li {
      margin-left: 10px;
      margin-right: 10px;
      display: block;
      width: 100px;
      margin-top: 15px;
      cursor: pointer !important;
      float: left;
      text-align: center; }
  .inner-top-navi a {
    font-size: 18px;
    line-height: 30px;
    color: #FFF;
    height: 50px;
    width: 120px;
    text-decoration: none;
    cursor: pointer;
    float: left; }

.inner-top-navi {
  transition: all .4s ease-in-out; }
  .inner-top-navi .navi-btn:hover {
    text-decoration: none; }
  .inner-top-navi .animate {
    letter-spacing: 0; }
  .inner-top-navi .animate:after,
  .inner-top-navi .animate:before {
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
    margin-top: 30px;
    transform: translateX(9px); }
  .inner-top-navi .animate:hover:after,
  .inner-top-navi .animate:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 80%; }
  .inner-top-navi .animate:hover:before {
    bottom: auto;
    top: 0;
    width: 80%; }
  .inner-top-navi .animate:before {
    display: none; }

.hamburger-box {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-top: 18px;
  display: none; }

#hamburger-icon {
  width: 35px;
  height: 20px;
  position: relative;
  display: block; }
  #hamburger-icon .line {
    display: block;
    background: #ecf0f1;
    width: 35px;
    height: 4px;
    position: absolute;
    left: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s; }
    #hamburger-icon .line.line-1 {
      top: 0; }
    #hamburger-icon .line.line-2 {
      top: 50%; }
    #hamburger-icon .line.line-3 {
      top: 100%; }
  #hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px); }
  #hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px); }
  #hamburger-icon.active .line-1 {
    transform: translateY(10px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    -moz-transform: translateY(10px) translateX(0) rotate(45deg); }
  #hamburger-icon.active .line-2 {
    opacity: 0; }
  #hamburger-icon.active .line-3 {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-10px) translateX(0) rotate(-45deg); }

.menu-mobile {
  position: fixed;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all .3s ease-in-out;
  z-index: 99;
  opacity: 0;
  pointer-events: none; }
  .menu-mobile li {
    width: 100%;
    height: 60px;
    font-size: 30px;
    color: #fff;
    letter-spacing: 10px;
    text-align: center;
    cursor: pointer;
    line-height: 65px; }
    .menu-mobile li:nth-child(1) {
      margin-top: 90px; }
  .menu-mobile a {
    color: #fff;
    text-decoration: none; }

.btn {
  margin-left: auto;
  margin-right: auto;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  display: block;
  margin-top: 120px; }
  .btn:hover {
    text-decoration: none; }
  .btn a {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid;
    color: #fff;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none; }
    .btn a:hover {
      background: white;
      color: #fff; }

.btn-1 {
  background: transparent;
  font-weight: 100; }
  .btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .btn-1 rect {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-dasharray: 422, 0; }

.btn-1:hover {
  background: transparent;
  font-weight: 900;
  letter-spacing: 1px; }
  .btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }

.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative; }
  .btn-4 span {
    z-index: 20; }
  .btn-4:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10; }

.btn-4:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1); }

/*----------------------------
  
  layout： global
  author： Toby
  info  ： 用於跨網頁的通用class
  tags  ：   x
  create: 2016/9/6

==============================

  |-- header-bg：上方header
	


-----------------------------*/
.header-bg {
  background-position: center top;
  background-repeat: no-repeat;
  height: 850px;
  width: 100%;
  overflow: hidden; }

.section-grp {
  position: relative;
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden; }

.textbox-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 1100px;
  width: 1024px;
  position: relative; }
  .textbox-container .textbox-bg {
    background-image: url(../img/product/boximg.png);
    position: absolute;
    width: 480px;
    height: 1048px;
    top: 180px;
    padding-left: 60px; }
    .textbox-container .textbox-bg h2 {
      font-size: 50px;
      line-height: 80px;
      margin-top: 260px;
      color: #FFFFFF; }
    .textbox-container .textbox-bg p {
      font-size: 20px;
      line-height: 40px;
      height: 250px;
      width: 360px;
      margin-top: 50px;
      color: #FFF;
      text-align: justify; }
  .textbox-container .bg-right {
    right: 0px;
    top: 75px; }

/*----------------------------
  
  layout： index
  author： Toby
  info  ： 首頁
  tags  ：   x
  create: 2016/9/9

==============================

  |-- header-bg：上方header
    


-----------------------------*/
#body-index {
  /*=============  about =========================*/ }
  #body-index .inner-top-navi {
    background-color: transparent; }
  #body-index .title {
    font-weight: 500; }
  #body-index .slogin_second_tit {
    font-weight: 500; }
  #body-index .slogan-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 50px;
    width: 650px;
    height: 300px;
    text-align: center;
    overflow: hidden; }
    #body-index .slogan-container h2 {
      font-size: 70px;
      font-weight: 500;
      margin-top: 80px; }
    #body-index .slogan-container p {
      margin-top: 50px;
      font-size: 25px;
      line-height: 35px; }
  #body-index .title-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/index/index-header-logo.png") no-repeat center center;
    position: relative;
    width: 430px;
    height: 275px;
    margin-top: 250px; }
  #body-index .content_about {
    position: relative;
    height: 1200px;
    background: url("../img/index/index-bg-01.png") no-repeat center top fixed;
    background-size: cover;
    background-position-x: 300px;
    z-index: 0; }
    #body-index .content_about .about {
      position: relative;
      height: 1200px;
      background: url("../img/index/index-bg-hole-01.png") no-repeat center top; }
  #body-index .content_service {
    position: relative;
    height: 1200px;
    background: url("../img/index/index-bg-02.png") no-repeat center top fixed;
    background-size: cover;
    background-position-x: -120px;
    z-index: 88; }
    #body-index .content_service .service {
      position: relative;
      height: 1200px;
      background: url("../img/index/index-bg-hole-02.png") no-repeat center top; }
  #body-index .contact-container {
    width: 100%;
    height: 600px;
    background: #2c2c2f;
    padding: 50px 0; }
    #body-index .contact-container h2 {
      width: 100%;
      height: 70px;
      font-size: 50px;
      color: #309cd1;
      text-align: center;
      line-height: 200px;
      margin-bottom: 30px;
      font-weight: 500;
      display: block; }
    #body-index .contact-container .contact-block {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      margin-top: 160px; }
      #body-index .contact-container .contact-block .contact {
        width: 320px;
        height: 200px;
        float: left; }
        #body-index .contact-container .contact-block .contact .contact-img {
          position: relative;
          margin-left: auto;
          margin-right: auto;
          width: 80px;
          height: 80px;
          background-size: cover; }
        #body-index .contact-container .contact-block .contact p {
          width: 100%;
          height: 50px;
          margin-top: 30px;
          font-size: 20px;
          color: #fff;
          text-align: center;
          cursor: default; }
        #body-index .contact-container .contact-block .contact .img-01 {
          background-image: url("../img/index/icon_map.png"); }
        #body-index .contact-container .contact-block .contact .img-02 {
          background-image: url("../img/index/icon_mail.png"); }
        #body-index .contact-container .contact-block .contact .img-03 {
          background-image: url("../img/index/icon_phone.png"); }
        #body-index .contact-container .contact-block .contact .info-03 {
          line-height: 35px; }
  @media screen and (max-width: 480px) {
    #body-index .content_about .about .about_in .about_info .font {
      top: 48%; } }
  #body-index .content_about .about .about_in .about_info .font .title {
    font-size: 50px;
    margin-bottom: 40px; }
  @media screen and (max-width: 767px) {
    #body-index .content_about .about .about_in .about_info .font .title {
      font-size: 40px; } }
  #body-index .content_about .about .about_in .about_info .font .info {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 100px;
    animation-delay: 0.5s; }
  @media screen and (max-width: 767px) {
    #body-index .content_about .about .about_in .about_info .font .info {
      line-height: 35px;
      margin-bottom: 50px; } }
  @media screen and (max-width: 480px) {
    #body-index .content_about .about .about_in .about_info .font .info {
      font-size: 18px; } }
  #body-index .content_about .about .about_in .about_info .font .btn_link {
    animation-delay: 0.8s; }
  #body-index .content_about .about .about_in .about_info .font .btn_link a {
    transition: all 0.2s ease-in-out;
    cursor: pointer; }
  @media screen and (max-width: 767px) {
    #body-index .content_about .about .about_in .about_info .font .btn_link a {
      margin: 0 auto; } }
  @media screen and (max-width: 480px) {
    #body-index .content_about .about .about_in .about_info .font .btn_link a {
      font-size: 20px;
      width: 150px; } }
  #body-index .greeting-container {
    background-image: url("../img/index/index-bg-04.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    line-height: 220px;
    color: #fff;
    text-align: center;
    font-weight: bold; }
    #body-index .greeting-container span {
      transition: all .4s ease-in-out;
      font-weight: 100;
      font-size: 36px; }
    #body-index .greeting-container a {
      text-decoration: none;
      color: #fff;
      cursor: pointer !important; }
      #body-index .greeting-container a:hover {
        text-decoration: none; }
  #body-index #map-container {
    height: 70px;
    overflow-y: hidden; }
    #body-index #map-container .map-title {
      width: 100%;
      text-align: center;
      font-size: 20px;
      padding-top: 10px;
      color: #46BCEC;
      letter-spacing: 5px; }
    #body-index #map-container .map-content {
      font-family: PingFangTC-Thin, sans-serif;
      width: 100%;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 10px;
      padding-left: 10px;
      letter-spacing: 5px;
      font-size: 15px; }
  #body-index #marker-tooltip {
    display: none;
    position: absolute;
    width: 300px;
    height: 50px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    line-height: 48px;
    border: 1px solid #fff; }

#header {
  position: relative;
  width: 100%;
  height: 850px;
  padding: 0;
  background-size: cover;
  overflow: hidden; }

#header .title-box span {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  color: #fff;
  display: block;
  cursor: default;
  line-height: 80px; }

#header .title-box .title-en {
  font-size: 55px; }

#header .title-box .title-ch {
  font-size: 100px; }

#header .title-box .title-sub {
  font-size: 25px; }

#google_map {
  height: 400px;
  background: #ccc; }

.header_2 {
  height: 75px;
  background: #309cd1;
  position: fixed;
  top: -75px;
  left: 0;
  width: 100%;
  z-index: 999; }

.logo {
  position: relative;
  float: left; }

.logo a {
  display: block;
  width: 175px;
  height: 75px;
  text-indent: -9999px;
  background: url("../img/logo.png"); }

.center_box, .slogan, .ct .ct_con .icon {
  position: relative;
  margin: 0 auto; }

.btn_link_style, .content_about .about .about_in .about_info .font .btn_link a, .content_service .service .service_in .service_info .font .btn_link a, .content_join .join .join_in .about_info .font .btn_link a {
  width: 200px;
  height: 55px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 55px;
  font-size: 26px; }

.btn_link_style_hover, .content_about .about .about_in .about_info .font .btn_link a:hover, .content_service .service .service_in .service_info .font .btn_link a:hover, .content_join .join .join_in .about_info .font .btn_link a:hover {
  background: #fff;
  color: #203993; }

.index {
  background: url("../img/top/index_top.png") no-repeat center center; }

.footer {
  height: 75px;
  background: #2c2c2f; }

.footer p {
  font-size: 18px;
  text-align: center;
  line-height: 75px;
  color: #fff; }

@media screen and (max-width: 480px) {
  .footer p {
    font-size: 15px; } }
@media screen and (max-width: 320px) {
  .footer p {
    font-size: 12px; } }
.footer p span {
  color: #309cd1; }

/*----------------------------
  
  layout： about
  author： Toby
  tags  ：   x
  create: 2016/9/6

==============================

  |-- about_header_bg：上方header
	|-- about_infobox：
  |-- section-grp：
  |-- section_about：
  |-- section_joinus：


-----------------------------*/
#body-about {
  /*==================   Duplicate  	==================*/
  /*==================   Seperate  	==================*/ }
  #body-about .header-bg {
    background-image: url(../img/about/about-bg-header.png); }
  #body-about .about_infobox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/about/wit.png);
    width: 1000px;
    margin-top: 200px;
    border: 5px solid #FFF;
    display: block; }
    #body-about .about_infobox h3 {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      margin-top: 60px;
      font-size: 25px;
      line-height: 45px;
      letter-spacing: 0px;
      display: block;
      font-weight: bold;
      text-align: center; }
    #body-about .about_infobox p {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      margin-top: 60px;
      padding-bottom: 40px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 2px;
      display: block;
      text-align: center; }
  #body-about .textbox_grp {
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 300px; }
    #body-about .textbox_grp h2 {
      font-size: 50px;
      line-height: 80px;
      color: #309cd1; }
    #body-about .textbox_grp p {
      width: 380px;
      margin-top: 20px;
      font-size: 20px;
      line-height: 40px;
      text-align: justify; }
  #body-about .textbox_right {
    margin-left: auto;
    margin-right: 15%; }
  #body-about .textbox_left {
    margin-left: 15%;
    margin-right: auto; }
  #body-about .section_bg_mobile {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    width: 640px;
    height: 510px;
    display: none; }
  #body-about .bg-about {
    background-image: url(../img/about/about-bg-01.png); }
  #body-about .bg-joinus {
    background-image: url(../img/about/about-bg-03.png); }
  #body-about .bg_about_mobile {
    background-image: url(../img/about/about-bg-mobile-01.png);
    background-position-x: -140px !important; }
  #body-about .bg_product_mobile {
    background-image: url(../img/about/about-bg-mobile-02.png); }
  #body-about .bg_joinus_mobile {
    background-image: url(../img/about/about-bg-mobile-03.png); }

/*----------------------------
  
  layout： product
  author： Toby
  tags  ：   x
  create: 2016/9/6

==============================

  |-- header-bg：上方header
	
  

-----------------------------*/
#body-product .header-bg {
  background-image: url(../img/product/product-bg-header.png); }
  #body-product .header-bg .pd_infobox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 90px;
    width: 380px;
    margin-top: 300px;
    display: block;
    text-align: center; }
    #body-product .header-bg .pd_infobox h3 {
      position: relative;
      height: 90px;
      font-size: 40px;
      line-height: 90px;
      letter-spacing: 6px;
      display: block;
      text-align: center;
      color: #FFF;
      border: 2px solid #FFF; }
    #body-product .header-bg .pd_infobox p {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 2px;
      display: block;
      width: 780px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      margin-top: 60px; }
#body-product .bg-01 {
  background-image: url(../img/product/product-bg-01.png);
  height: 1300px; }
#body-product .bg-02 {
  background-image: url(../img/product/product-bg-02.png);
  height: 1300px; }
#body-product .bg-03 {
  background-image: url(../img/product/product-bg-03.png);
  height: 1300px; }

/*----------------------------
  
  layout： joinus
  author： Toby
  tags  ：   x
  create: 2016/9/7

==============================

  |-- about_header_bg：上方header
	|-- about_infobox：
  |-- section-grp：
  |-- section_about：
  |-- section_joinus：


-----------------------------*/
#body-joinus .header {
  background-image: url(../img/joinus/joinus-header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 850px;
  width: 100%;
  overflow: hidden; }
  #body-joinus .header .pd_infobox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 90px;
    width: 470px;
    margin-top: 350px;
    display: block;
    text-align: center;
    cursor: default; }
    #body-joinus .header .pd_infobox h3 {
      position: relative;
      height: 90px;
      font-size: 40px;
      line-height: 90px;
      letter-spacing: 6px;
      display: block;
      text-align: center;
      font-weight: 500;
      color: #333;
      border: 3px solid #fff;
      background-color: rgba(255, 255, 255, 0.8);
      cursor: default; }
    #body-joinus .header .pd_infobox p {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 2px;
      display: block;
      width: 780px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      margin-top: 60px; }
#body-joinus .infobox-01 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 300px;
  width: 650px;
  display: block;
  border: 5px solid #FFF; }
  #body-joinus .infobox-01 p {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: normal;
    display: block;
    margin-top: 60px; }
#body-joinus .shadow-effect-container .effect-bg-01 {
  background-image: url("../../img/joinus/joinus-grid-01.png"); }
#body-joinus .shadow-effect-container .effect-bg-02 {
  background-image: url("../../img/joinus/joinus-grid-02.png"); }
#body-joinus .shadow-effect-container .effect-bg-03 {
  background-image: url("../../img/joinus/joinus-grid-03.png"); }
#body-joinus .shadow-effect-container .effect-bg-04 {
  background-image: url("../../img/joinus/joinus-grid-04.png"); }
#body-joinus .infobox-02 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  width: 650px;
  height: 200px;
  margin-bottom: 50px;
  z-index: 1; }
  #body-joinus .infobox-02 p {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: normal;
    display: block;
    margin-top: 100px;
    text-align: justify; }
#body-joinus .slogan-container {
  height: 350px;
  width: 100%;
  background-image: url(../img/joinus/joinus-slogan-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #body-joinus .slogan-container h3 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-size: 28px;
    letter-spacing: 8px;
    height: 50px;
    display: block;
    padding-top: 90px;
    text-align: center;
    font-weight: 500;
    line-height: 30px;
    cursor: default; }
  #body-joinus .slogan-container span {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    width: 190px;
    border: 3px solid #000;
    display: block;
    text-align: center;
    margin-top: 80px; }
    #body-joinus .slogan-container span a {
      height: 55px;
      width: 190px;
      font-size: 24px;
      color: #000;
      letter-spacing: 2px;
      line-height: 55px;
      display: block; }
      #body-joinus .slogan-container span a:hover {
        background-color: #000;
        color: #FFF; }

.product_block_container {
  position: absolute;
  width: 100%;
  z-index: -10; }
  .product_block_container .product_block_grp {
    position: relative;
    width: 800px;
    height: 970px;
    margin-right: 3%;
    z-index: 33;
    float: right;
    overflow: hidden; }
    .product_block_container .product_block_grp .product_block:nth-child(n) {
      width: 240px;
      height: 970px;
      margin-left: 10px;
      margin-right: 10px;
      float: left;
      background-size: cover;
      transition: all .8s ease-in-out; }
    .product_block_container .product_block_grp .product_block:nth-child(1) {
      background-image: url("../img/about/about-bg-02a.png"); }
    .product_block_container .product_block_grp .product_block:nth-child(2) {
      background-image: url("../img/about/about-bg-02b.png"); }
    .product_block_container .product_block_grp .product_block:nth-child(3) {
      background-image: url("../img/about/about-bg-02c.png"); }

.footer {
  height: 80px;
  background-color: #2c2c2f;
  position: relative;
  width: 100%; }

.footer .copyright {
  height: 50px;
  width: 100%; }

.footer .copyright p {
  font-size: 18px;
  line-height: 18px;
  color: #FFF;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 35px; }

/*----------------------------
  
  layout： global
  author： Toby
  tags  ： button
  create: 2016/9/6

==============================

  |-- 小於 1652px：右側上下滑特效
  |-- section-grp：
  |-- section_about：
  |-- section_joinus：


-----------------------------*/
@media (max-width: 1920px) {
  #body-about .textbox_left {
    margin-left: 20%; }
  #body-about .textbox_right {
    margin-right: 15%; } }
@media (max-width: 1620px) {
  #body-about .textbox_left {
    margin-left: 15%; }
  #body-about .textbox_right {
    margin-right: 10%; } }
@media (min-width: 1550px) {
  .ct {
    background-size: cover !important; } }
@media (max-width: 1652px) {
  #body-about .textbox_left {
    margin-left: 10%; } }
@media (max-width: 1440px) {
  #body-about .product_block_grp {
    margin-top: 30px;
    transform: scale(0.7); }
  #body-about .textbox_left {
    margin-left: 5%; }
  #body-about .textbox_right {
    margin-right: 5%; }

  #body-product .section-grp {
    background-image: none; }
  #body-product .textbox-container {
    width: 100%; }
  #body-product .textbox-bg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 640px;
    height: 1120px;
    padding-top: 370px;
    text-align: center;
    padding-left: 0px; }
    #body-product .textbox-bg p {
      position: relative;
      margin-left: auto;
      margin-right: auto; }
  #body-product .textbox-bg-01 {
    background-image: url(../img/product/product-bg-mobile-01.png); }
  #body-product .textbox-bg-02 {
    background-image: url(../img/product/product-bg-mobile-02.png); }
  #body-product .textbox-bg-03 {
    background-image: url(../img/product/product-bg-mobile-03.png); } }
@media (max-width: 1200px) {
  #body-about .section-grp {
    background-image: none; }
  #body-about .textbox_grp {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px; }
    #body-about .textbox_grp h2 {
      text-align: center; }
    #body-about .textbox_grp p {
      width: 400px; }
  #body-about .product_block_grp {
    display: none; }
  #body-about .section_bg_mobile {
    display: block;
    background-position: center;
    background-repeat: no-repeat; } }
@media (max-width: 1040px) {
  #body-index .contact-container h2 {
    font-size: 36px; }
  #body-index .contact-container .contact-block {
    width: 280px !important;
    margin-top: 120px !important; }
    #body-index .contact-container .contact-block .contact {
      width: 280px !important;
      height: 70px !important;
      float: none  !important; }
      #body-index .contact-container .contact-block .contact .contact-img {
        width: 40px !important;
        height: 40px !important;
        float: left; }
      #body-index .contact-container .contact-block .contact p {
        line-height: 40px;
        font-size: 16px;
        cursor: default; }
      #body-index .contact-container .contact-block .contact .img-03 {
        margin-top: 15px; }
      #body-index .contact-container .contact-block .contact .info-01 {
        font-size: 16px !important; }

  #body-about .about_infobox {
    width: 470px; }

  #body-joinus .infobox-01 {
    width: 510px; }
  #body-joinus .infobox-02 {
    width: 510px;
    margin-bottom: 80px; }
  #body-joinus .shadow-effect-container {
    width: 510px;
    height: 1360px; } }
@media (max-width: 768px) {
  .wow {
    animation-name: none !important;
    visibility: visible !important; }

  .navi-ul {
    display: none; }

  .hamburger-box {
    display: block; }

  #body-index .font {
    margin-top: -10px; }
    #body-index .font .btn_link a {
      margin-top: -20px; }
  #body-index .slogan-container {
    width: 320px; }
    #body-index .slogan-container h2 {
      font-size: 35px; }
    #body-index .slogan-container p {
      font-size: 18px; }
  #body-index .content_about {
    height: 1120px;
    margin-bottom: 300px;
    background-attachment: scroll; }
    #body-index .content_about .about_info {
      top: 640px; }
    #body-index .content_about .bg_bottom {
      height: 360px; }
  #body-index .content_service {
    background-position-y: 0px;
    background-attachment: scroll; }
    #body-index .content_service .service {
      margin-top: -140px; }
    #body-index .content_service .bg_bottom {
      height: 360px; }
    #body-index .content_service .service_info {
      top: 790px; }
  #body-index .content_join {
    background-attachment: scroll; }
    #body-index .content_join .about_info {
      top: 650px; }
  #body-index .content-under {
    margin-top: 300px; }
    #body-index .content-under .icon {
      margin-left: 0px;
      height: 40px;
      width: 40px;
      float: left; }
    #body-index .content-under .info {
      display: inline-block;
      font-size: 18px;
      margin-top: -9px;
      margin-bottom: 60px;
      float: left;
      margin-left: 17px;
      line-height: 0px; }

  #body-about .about_infobox {
    width: 470px; }
  #body-about .bg-product {
    height: 1150px; }

  #body-joinus .infobox-01 {
    width: 510px; }
  #body-joinus .infobox-02 {
    width: 510px;
    margin-bottom: 80px; }
  #body-joinus .shadow-effect-container {
    width: 510px;
    height: 1360px; } }
@media (max-width: 716px) {
  #body-product .section-grp {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 320px; }
    #body-product .section-grp .textbox-bg {
      width: 320px; }
      #body-product .section-grp .textbox-bg p {
        width: 250px; } }
@media (max-width: 650px) {
  #body-about .bg_about_mobile {
    width: 400px; }
  #body-about .bg_product_mobile {
    width: 400px; } }
@media (max-width: 540px) {
  #body-index .title-box {
    width: 280px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

  .slogin_second {
    height: 470px; } }
@media (max-width: 530px) {
  .footer {
    height: 60px; }
    .footer p {
      font-size: 14px !important;
      padding-top: 16px !important; }

  #body-index .font .info {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    font-size: 18px;
    text-align: justify; }
  #body-index .content_about {
    background-position-x: -330px; }
  #body-index .content_service {
    background-position-x: -565px; }
  #body-index .content_join {
    background-position-x: -805px; }
  #body-index .greeting-container {
    background-image: url("../img/index/index-bg-m-04.png"); }
  #body-index .contact-container h2 {
    font-size: 30px;
    line-height: 140px; }

  #body-about .about_infobox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/about/wit.png);
    position: relative;
    width: 80%;
    margin-top: 250px;
    border: 5px solid #FFF;
    display: block; }
    #body-about .about_infobox h3 {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      margin-top: 40px;
      font-size: 19px;
      line-height: 32px;
      letter-spacing: 0px;
      display: block;
      font-weight: bold;
      text-align: center; }
    #body-about .about_infobox p {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      margin-top: 40px;
      padding-bottom: 40px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;
      display: block;
      text-align: center; }

  #body-product .pd_infobox {
    width: 220px !important; }
    #body-product .pd_infobox h3 {
      font-size: 25px !important;
      height: 70px !important;
      line-height: 70px !important; }
  #body-product .section-grp {
    width: 100%; }
    #body-product .section-grp .textbox-bg {
      width: 100%; }

  #body-joinus .header {
    background-image: url("../img/joinus/joinus-header-m.png"); }
    #body-joinus .header .pd_infobox {
      width: 300px !important; }
      #body-joinus .header .pd_infobox h3 {
        font-size: 25px !important; }
  #body-joinus .infobox-01 {
    width: 280px; }
  #body-joinus .infobox-02 {
    width: 280px; }
  #body-joinus .shadow-effect-container {
    width: 320px;
    height: 900px;
    margin-top: 150px; }
  #body-joinus .effect-ming {
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    min-width: 320px;
    height: 214px; }
  #body-joinus figcaption {
    width: 320px;
    height: 214px; }
    #body-joinus figcaption p {
      margin-top: -30px; }
  #body-joinus .slogan-container h3 {
    font-size: 17px; } }
@media (max-width: 480px) {
  .ct {
    background-size: cover !important; }

  #body-index #header .title-box {
    margin-top: 160px; }

  #body-about .textbox_grp {
    width: 320px; }
    #body-about .textbox_grp p {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 280px;
      line-height: 34px; }

  #body-product .textbox_bg h2 {
    width: 80%; } }
@media (max-width: 350px) {
  .footer p {
    font-size: 10px !important; }

  #body-index .font {
    margin-top: -180px; }
    #body-index .font .btn_link a {
      margin-top: -20px; } }
