@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);




// body{

//     font-family: 'cwTeXHei', sans-serif;
//     font-weight: 100;

// }



body{


    // font-family: PingFangTC-Regular, sans-serif;
    // font-family: PingFangTC-Ultralight, sans-serif;
    // font-family: PingFangTC-Light, sans-serif;
    font-family: PingFangTC-Thin, sans-serif;
    // font-family: PingFangTC-Medium, sans-serif;
    // font-family: PingFangTC-Semibold, sans-serif;


}


a{

     font-family: PingFangTC-Thin, sans-serif !important;
}