

@mixin font-light{

    font-family: 'cwTeXHei', sans-serif;
    font-weight: 100;
    
}


@mixin font-bold{

    font-family: 'cwTeXHei', sans-serif;
    font-weight: 200;
    
}


@mixin center{

    position: relative;
    margin-left: auto;
    margin-right: auto;

}

@mixin margin_w($px){

    margin-left: $px;
    margin-right: $px;

}

@mixin square($px){

    width: $px;
    height: $px;

}


