

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$ham-background: #3d566e;
$ham-color: #ecf0f1;

$ham-height-icon: 20px;
$ham-width-line: 35px;
$ham-height-line: 4px;

$ham-transition-time: 0.4s;
$ham-rotation: 45deg;
$ham-translateY: ($ham-height-icon / 2);
$ham-translateX: 0;


.hamburger-box{

  @include square(50px);
  margin-left: auto;
  margin-top: 18px;
  display: none;

}




#hamburger-icon {
  width:$ham-width-line;
  height:$ham-height-icon;
  position:relative;
  display:block;
  // margin: ($ham-height-icon * 2) auto $ham-height-icon auto;
  
  .line {
    display:block;
    background:$ham-color;
    width:$ham-width-line;
    height:$ham-height-line;
    position:absolute;
    left:0;
    // border-radius:($ham-height-line / 2);
    transition: all $ham-transition-time;
    -webkit-transition: all $ham-transition-time;
    -moz-transition: all $ham-transition-time;
    
    &.line-1 {
      top:0;
    }
    &.line-2 {
      top:50%;
    }
    &.line-3 {
      top:100%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        transform: translateY($ham-height-line / 2 * -1);
        -webkit-transform: translateY($ham-height-line / 2 * -1);
        -moz-transform: translateY($ham-height-line / 2 * -1);
     }
    .line-3 {
        transform: translateY($ham-height-line / 2);
        -webkit-transform: translateY($ham-height-line / 2);
        -moz-transform: translateY($ham-height-line / 2);
    }  
  }
  &.active {
    .line-1 {
      transform: translateY($ham-translateY) translateX($ham-translateX) rotate($ham-rotation);
      -webkit-transform: translateY($ham-translateY) translateX($ham-translateX) rotate($ham-rotation);
      -moz-transform: translateY($ham-translateY) translateX($ham-translateX) rotate($ham-rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($ham-translateY * -1) translateX($ham-translateX) rotate($ham-rotation * -1);
      -webkit-transform: translateY($ham-translateY * -1) translateX($ham-translateX) rotate($ham-rotation * -1);
      -moz-transform: translateY($ham-translateY * -1) translateX($ham-translateX) rotate($ham-rotation * -1);
    }
  }
}

// h1 {
//   text-transform:uppercase;
// }
// a {
//   text-decoration:none;
//   color:#95a5a6;
//   margin: 0.5em 1.5em;
//   display:inline-block;
//   &:hover, &:focus {
//     color:$ham-color;
//   }
// }