.inner-top-navi{

    transition: all .4s ease-in-out;

    .navi-btn {
      
      &:hover { text-decoration: none; }
      
    }


    .animate {
        letter-spacing: 0;
    }

    .animate:hover,
    .animate:active {
      // letter-spacing: 5px;
    }

    .animate:after,
    .animate:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#fff, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
      margin-top: 30px;
      transform: translateX(9px);

      
    }

    


    .animate:hover:after,
    .animate:hover:before {
      backface-visibility: hidden;
      border-color: #fff;
      transition: width 350ms ease-in-out;
      width: 80%;
    }

    .animate:hover:before {
      bottom: auto;
      top: 0;
      width: 80%;
    }


    .animate:before{
      display: none;
    }

}//navi-top-navi