@charset "utf-8";


#body-index{
    .inner-top-navi {
        .logo{
            opacity: 0;
            pointer-events:none;
        }
    }

}






.inner-top-navi {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #309cd1;

    .logo {
      float: left;
      transition: all .3s ease-in-out;
    }

    ul {
        height: 50px;
        width: 360px;
        float: right;

        li {
            margin-left: 10px;
            margin-right: 10px;
            display: block;
            width: 100px;
            margin-top: 15px;
            cursor: pointer !important;
            float: left;
            text-align: center;
        }
    }


    a {

        font-size: 18px;
        line-height: 30px;
        color: #FFF;
        height: 50px;
        width: 120px;
        text-decoration: none;
        cursor: pointer;
        float: left;
    }


}
