@charset "utf-8";

.menu-mobile{

    position: fixed;
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,0.7);
    transition: all .3s ease-in-out;
    z-index: 99;
    opacity: 0;
    pointer-events:none;

    li{

        width: 100%;
        height: 60px;
        font-size:30px;
        color:#fff;
        letter-spacing: 10px;
        text-align: center;
        cursor: pointer;
        line-height: 65px;



        &:nth-child(1) {   
            
            margin-top: 90px;
                
        
        }






    }


    a{

        color: #fff;
        text-decoration: none;
    }

}