@charset "utf-8";
/*----------------------------
  
  layout： about
  author： Toby
  tags  ：   x
  create: 2016/9/6

==============================

  |-- about_header_bg：上方header
	|-- about_infobox：
  |-- section-grp：
  |-- section_about：
  |-- section_joinus：


-----------------------------*/
#body-about{

   
	.header-bg {

		 
		background-image: url(../img/about/about-bg-header.png);
		
	}
	

	.about_infobox {

		@include center;
		background-image: url(../img/about/wit.png);
		width: 1000px;
		margin-top: 200px;
		border: 5px solid #FFF;
		display: block;


		h3  {

			@include center;
			width: 90%;
			margin-top: 60px;
			font-size: 25px;
			line-height: 45px;
			letter-spacing: 0px;
			display: block;
			font-weight: bold;
			text-align: center;

		}
		p  {

			@include center;
			width: 90%;
			margin-top: 60px;
			padding-bottom: 40px;
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 2px;
			display: block;
			text-align: center;
			
		}


	}


	





/*==================   Duplicate  	==================*/

	

	.textbox_grp{

		@include square(400px);
		position: relative;
	    margin-top: 300px;



		h2 {
			font-size: 50px;
			line-height: 80px;
			color: #309cd1;
		}

		p {
			
			width: 380px;
			margin-top: 20px;
			font-size: 20px;
		    line-height: 40px;
		    text-align: justify;

		}

	}


	.textbox_right{

		margin-left: auto;
	    margin-right: 15%;

	}

	.textbox_left{

		margin-left: 15%;
	    margin-right: auto;
		
	}

	



	.section_bg_mobile{

		@include center;
		background-repeat: no-repeat;
		width: 640px;
		height: 510px;
		display: none;


	}

/*==================   Seperate  	==================*/

	.bg-about {

		background-image: url(../img/about/about-bg-01.png);
	}


	.bg-joinus {
		background-image: url(../img/about/about-bg-03.png);

	}


	.bg_about_mobile{

		background-image: url(../img/about/about-bg-mobile-01.png);
	    background-position-x: -140px !important; 
    }

	.bg_product_mobile{

		background-image: url(../img/about/about-bg-mobile-02.png);
	}

	.bg_joinus_mobile{

		background-image: url(../img/about/about-bg-mobile-03.png);
		
	}


}