@charset "UTF-8";
/*----------------------------
  
  layout： global
  author： Toby
  info  ： 用於跨網頁的通用class
  tags  ：   x
  create: 2016/9/6

==============================

  |-- header-bg：上方header
	


-----------------------------*/


.header-bg {
    
	background-position: center top;
	background-repeat: no-repeat;
	height: 850px;
	width: 100%;
	overflow: hidden;

}

.section-grp{

	position: relative;
	width: 100%;
	height: 1000px;
	background-repeat: no-repeat;
	background-position: center top;
	overflow: hidden;

}



.textbox-container {

	@include center;
	height: 1100px;
	width: 1024px;
	position: relative;


	.textbox-bg {

		background-image: url(../img/product/boximg.png);
		position: absolute;
		width: 480px;
		height: 1048px;
		top: 180px;
		padding-left: 60px;


		h2 {
			font-size: 50px;
			line-height: 80px;
			margin-top: 260px;
			color: #FFFFFF;
		}

		p {
			font-size: 20px;
			line-height: 40px;
			height: 250px;
			width: 360px;
			margin-top: 50px;
			color: #FFF;
            text-align: justify;

		}
		

	}

	.bg-right{

		right: 0px;
		top: 75px;

	}	

}


