@charset "UTF-8";
/*----------------------------
  
  layout： index
  author： Toby
  info  ： 首頁
  tags  ：   x
  create: 2016/9/9

==============================

  |-- header-bg：上方header
    


-----------------------------*/


#body-index{

    //------  上方導航列  ------//
    .inner-top-navi{

        background-color: transparent;




    }



    //------  上方導航列  ------//
    .title{

        font-weight: 500;
    }

    .slogin_second_tit{

        font-weight: 500;
    }


    //------  歡迎詞  ------//
    .slogan-container{

        @include center;
        position: relative;
        margin-top: 50px;
        width: 650px;
        height: 300px;
        text-align: center;
        overflow: hidden;

        h2{

            font-size: 70px;
            font-weight: 500;
            margin-top: 80px;


        }


        p{

            margin-top: 50px;
            font-size: 25px;
            line-height: 35px;


        }




    }



    .title-box {
        @include center;
        background: url("../img/index/index-header-logo.png") no-repeat center center;
        position: relative;
        width: 430px;
        height: 275px;
        margin-top: 250px;
    }

    //-------------------------------------------------


    .content_about{

        position: relative;
        height: 1200px;
        background: url("../img/index/index-bg-01.png") no-repeat center top fixed;
        background-size: cover;
        background-position-x:300px;
        z-index: 0;

        .about{
            position: relative;
            height: 1200px;
            background: url("../img/index/index-bg-hole-01.png") no-repeat center top;
         
        }
    }



    .content_service{
        
        position: relative;
        height: 1200px;
        background: url("../img/index/index-bg-02.png") no-repeat center top fixed;
        background-size: cover;
        background-position-x:-120px;
        z-index: 88;

        .service{
            position: relative;
            height: 1200px;
            background: url("../img/index/index-bg-hole-02.png") no-repeat center top
        
        }

    }















    //-------------------------------------------------

    //下方聯絡 - 黑背景
    .contact-container{

        width: 100%;
        height: 600px;
        background: #2c2c2f;
        padding: 50px 0;

        h2{

            width: 100%;
            height: 70px;
            font-size: 50px;
            color: #309cd1;
            text-align: center;
            line-height: 200px;
            margin-bottom: 30px;
            font-weight: 500;
            display: block;

        }

        .contact-block{

            @include center;
            width: 960px;
            margin-top: 160px;
            
            .contact{

                width: 320px;
                height: 200px;
                float: left;

                .contact-img{
                    
                    @include center;
                    @include square(80px);
                    background-size: cover;
                }

                p{

                    width: 100%;
                    height: 50px;
                    margin-top: 30px;
                    font-size: 20px;
                    color: #fff;
                    text-align: center;
                    cursor: default;


                }
               


                .img-01{

                    background-image: url('../img/index/icon_map.png');
                }

                .img-02{

                    background-image: url('../img/index/icon_mail.png');
                }

                .img-03{

                    background-image: url('../img/index/icon_phone.png');
                }

                .info-03{

                    line-height: 35px;
                }



            }




        }
        




    }








    //------  重整區  ------//


    /*=============  about =========================*/
// .content_about {
//   position: relative;
//   height: 1200px;
//   background: url("../img/index/index-bg-01.png") no-repeat center top fixed;
//   background-size: cover;
//   z-index: 0;

//     .about {
//         position: relative;
//         height: 1200px;
//         background: url("../img/index/index-bg-hole-01.png") no-repeat center top;
//         background-size: cover;


//         .about_in {
//             padding: 0px;

//             .about_info {
//                 padding: 0;
//                 position: relative;
//                 top: 250px;

//                 .bg_top {
//                       position: relative;
//                       top: 0;
//                       height: 600px;
//                       background: linear-gradient(169deg, transparent 160px, #203993 0);
//                 }

//                 .bg_bottom {
//                   position: relative;
//                   bottom: 0;
//                   height: 500px;
//                   background: linear-gradient(-11deg, transparent 240px, #203993 0);
//                 }


//             }
//         }


//     }






// }
 
// @media screen and (max-width: 767px) {
//     .content_about{

//         .about {
//             background: url("../img/index/index_about_m.png") no-repeat center bottom;


//             .about_in{

//                 .about_info {
                
//                     top: 500px;
                    
//                     .bg_top{

//                         height: 450px;

//                     }

//                     .bg_bottom {
//                         height: 350px;
//                     }


//                     .font {
//                         text-align: left;
//                         width: 80%;
//                         height: 50%;
//                         position: absolute;
//                         top: 55%;
//                         transform: translateY(-50%);
//                         color: #fff;
//                         left: 10%;
//                         top: 50%;
//                         text-align: center;
//                     }
//                 }
            

//             }






//         }




//   } 

















// }


    @media screen and (max-width: 480px) {
      .content_about .about .about_in .about_info .font {
        top: 48%;
      }
    }
    .content_about .about .about_in .about_info .font .title {
      font-size: 50px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 767px) {
      .content_about .about .about_in .about_info .font .title {
        font-size: 40px;
      }
    }
    .content_about .about .about_in .about_info .font .info {
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 100px;
      animation-delay: 0.5s;
    }
    @media screen and (max-width: 767px) {
      .content_about .about .about_in .about_info .font .info {
        line-height: 35px;
        margin-bottom: 50px;
      }
    }
    @media screen and (max-width: 480px) {
      .content_about .about .about_in .about_info .font .info {
        font-size: 18px;
      }
    }
    .content_about .about .about_in .about_info .font .btn_link {
      animation-delay: 0.8s;
    }
    .content_about .about .about_in .about_info .font .btn_link a {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
    @media screen and (max-width: 767px) {
      .content_about .about .about_in .about_info .font .btn_link a {
        margin: 0 auto;
      }
    }
    @media screen and (max-width: 480px) {
      .content_about .about .about_in .about_info .font .btn_link a {
        font-size: 20px;
        width: 150px;
      }
    }

















    //------    ------//
    .greeting-container{

        background-image:  url("../img/index/index-bg-04.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        line-height: 220px;
        color: #fff;
        text-align: center;
        font-weight: bold;


        span{
            transition: all .4s ease-in-out;
            font-weight: 100;
            font-size: 36px;
        }

        a{

            &:hover { text-decoration: none; }
            text-decoration: none;
            color: #fff;
            cursor: pointer !important;

        }

    }




    #map-container{

        height: 70px;
        overflow-y:hidden;


        .map-title{

            width: 100%;
            text-align: center;
            font-size:20px;
            padding-top: 10px;
            color:#46BCEC;
            letter-spacing: 5px;



        }

        .map-content{

            font-family: PingFangTC-Thin, sans-serif;
            width: 100%;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 10px;
            padding-left: 10px;
            letter-spacing: 5px;
            font-size: 15px;


        }

    }



    #marker-tooltip {
        display: none;
        position:absolute;
        width: 300px;
        height: 50px;
        margin: 15px;
        background-color: rgba(0,0,0,0.4);
        color: #fff;
        text-align: center;
        line-height: 48px;
        border: 1px solid #fff;
    }





}//body-index


















#header {
  position: relative;
  width: 100%;
  height: 850px;
  padding: 0;
  background-size: cover;
  overflow: hidden;
}
#header .title-box span {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  color: #fff;
  display: block;
  cursor: default;
  line-height: 80px;
}
#header .title-box .title-en {
  font-size: 55px;
}
#header .title-box .title-ch {
  font-size: 100px;
}
#header .title-box .title-sub {
  font-size: 25px;
}

#google_map {
  height: 400px;
  background: #ccc;
}

.header_2 {
  height: 75px;
  background: #309cd1;
  position: fixed;
  top: -75px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  position: relative;
  float: left;
}
.logo a {
  display: block;
  width: 175px;
  height: 75px;
  text-indent: -9999px;
  background: url("../img/logo.png");
}

.center_box, .slogan, .ct .ct_con .icon {
  position: relative;
  margin: 0 auto;
}

.btn_link_style, .content_about .about .about_in .about_info .font .btn_link a, .content_service .service .service_in .service_info .font .btn_link a, .content_join .join .join_in .about_info .font .btn_link a {
  width: 200px;
  height: 55px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 55px;
  font-size: 26px;
}

.btn_link_style_hover, .content_about .about .about_in .about_info .font .btn_link a:hover, .content_service .service .service_in .service_info .font .btn_link a:hover, .content_join .join .join_in .about_info .font .btn_link a:hover {
  background: #fff;
  color: #203993;
}

.index {
  background: url("../img/top/index_top.png") no-repeat center center;
}

.footer {
  height: 75px;
  background: #2c2c2f;
}
.footer p {
  font-size: 18px;
  text-align: center;
  line-height: 75px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .footer p {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .footer p {
    font-size: 12px;
  }
}
.footer p span {
  color: #309cd1;
}
