@charset "utf-8";
/*----------------------------
  
  layout： joinus
  author： Toby
  tags  ：   x
  create: 2016/9/7

==============================

  |-- about_header_bg：上方header
	|-- about_infobox：
  |-- section-grp：
  |-- section_about：
  |-- section_joinus：


-----------------------------*/
#body-joinus{



	
	.header {
		background-image: url(../img/joinus/joinus-header.png);
		background-repeat: no-repeat;
        background-position: center;
		height: 850px;
		width: 100%;
        overflow: hidden;

        .pd_infobox {

            @include center;
            position: relative;
            height: 90px;
            width: 470px;
            margin-top: 350px;
            display: block;
            text-align: center;
            cursor: default;

            h3  {

                position: relative;
                height: 90px;
                font-size: 40px;
                line-height: 90px;
                letter-spacing: 6px;
                display: block;
                text-align: center;
                font-weight: 500;
                color: #333;
                border: 3px solid #fff;
                background-color: rgba(256,256,256,0.8);
                cursor: default;

            }


            p  {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 2px;
                display: block;
                width: 780px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                margin-top: 60px;
            }
        }


	}



	.infobox-01 {

		@include center;
		position: relative;
		height: 300px;
		width: 650px;
		display: block;
		border: 5px solid #FFF;

		p {

			
			font-size: 20px;
			line-height: 35px;
			letter-spacing: normal;
			display: block;
			margin-top: 60px;
			
		}





	}




	.shadow-effect-container {


		.effect-bg-01{

			background-image: url('../../img/joinus/joinus-grid-01.png');
		}

		.effect-bg-02{

			background-image: url('../../img/joinus/joinus-grid-02.png');
		}

		.effect-bg-03{

			background-image: url('../../img/joinus/joinus-grid-03.png');
		}

		.effect-bg-04{

			background-image: url('../../img/joinus/joinus-grid-04.png');
		}








	}







	.infobox-02 {

		@include center;
		position: relative;
		background-repeat: no-repeat;
		background-position: center top;
		width: 650px;
		height: 200px;
        margin-bottom: 50px;
		z-index: 1;


		p {
			
			@include center;
			font-size: 20px;
			line-height: 35px;
			letter-spacing: normal;
			display: block;
			margin-top: 100px;
			text-align: justify;
		}




	}

	.slogan-container {
		height: 350px;
		width: 100%;
		background-image: url(../img/joinus/joinus-slogan-bg.png);
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;

		h3 {

			@include center;
			color: #000;
			font-size: 28px;
			letter-spacing: 8px;
			height: 50px;
			
			display: block;
			padding-top: 90px;
			text-align: center;
			font-weight: 500;
			line-height: 30px;
            cursor: default;
		}	

		span {
			
			@include center;
			height: 55px;
			width: 190px;
			border: 3px solid #000;
			display: block;
			text-align: center;
			margin-top: 80px;

			a {
				height: 55px;
				width: 190px;
				font-size: 24px;
				color: #000;
				letter-spacing: 2px;
				line-height: 55px;
				display: block;

				&:hover {
					background-color: #000;
					color: #FFF;
				}
			}
		}
	}
	

	

}