@charset "UTF-8";
/*----------------------------
  
  layout： product
  author： Toby
  tags  ：   x
  create: 2016/9/6

==============================

  |-- header-bg：上方header
	
  

-----------------------------*/


#body-product{



	.header-bg {
		
		background-image: url(../img/product/product-bg-header.png);
		
		.pd_infobox {

			@include center;
			position: relative;
			height: 90px;
			width: 380px;
			margin-top: 300px;
			display: block;
			text-align: center;


			h3  {

				position: relative;
			    height: 90px;
				font-size: 40px;
			    line-height: 90px;
			    letter-spacing: 6px;
			    display: block;
			    text-align: center;
			    color: #FFF;
			    border: 2px solid #FFF;


			}


			p  {
				font-size: 20px;
				line-height: 30px;
				letter-spacing: 2px;
				display: block;
				width: 780px;
				margin-right: auto;
				margin-left: auto;
				text-align: center;
				margin-top: 60px;
			}
		}
	}

	.bg-01 {
		
		background-image: url(../img/product/product-bg-01.png);
		height: 1300px;		
	}

	.bg-02 {
		background-image: url(../img/product/product-bg-02.png);
		height: 1300px;
		
	}

	.bg-03 {
		background-image: url(../img/product/product-bg-03.png);
		height: 1300px;
	}
	


	
}